<%= render :partial=>'layouts/centric_left_bar' %>
<div id="center-column">
  <div class="gridDiv">
    <div class="titleHead">Role</div>
    <div class="formMain">
<% form_for(@role) do |f| %>
 <%if(@role.errors.length >0)%>
          <div class='errorCont'>
            <%= error_messages_for(:role)%>
            <%= flash[:error]%>
            <div class="clear"></div>
          </div>
        <%end%>
<div >
  <p  style="width:650px;">
    <%= f.label :name %>
    <%= f.text_field :name %>&nbsp;&nbsp;&nbsp;
  <%= f.submit "Create" , :class=>'button submit_buttons'%></p>
<% end %>

</div></div></div></div>