    <ul id="top-navigation">
      <li class ='<%=controller.controller_name.eql?('rawmaterials')? 'active' : ''%>'><span><span><%=link_to("Raw Materials", rawmaterials_path)%></span></span></li>
      <li class ='<%=controller.controller_name.eql?('rawmaterial_categories')? 'active' : ''%>'><span><span><%=link_to("Rawmaterial Categories", rawmaterial_categories_path)%></span></span></li>
      <li class ='<%=controller.controller_name.eql?('customers')? 'active' : ''%>'><span><span><%=link_to("Customers",customers_path)%></span></span></li>
      <li class ='<%=controller.controller_name.eql?('customer_orders')? 'active' : ''%>'><span><span><%=link_to("Customer Order", customer_orders_path)%></span></span></li>
      
    </ul>

