<%= render :partial=>'layouts/order_leftside_bar' %>
<div id="center-column">
  <div class="gridDiv">
    <div class="titleHead">Salesplan</div>
    <div class="formMain">
  <% form_for(@salesplan) do |f| %>
        <%= f.error_messages %>
        <div>
          <!--BOX 1-->
          <div class="mt5">
          </div>
          <div class="fl w48" style="width: 48%;" >
            <div>
               <p>
              <%= f.label :customer_name %>
              <%= f.text_field :customer_name %>
            </p>
            <p>
              <%= f.label :customer_code %>
              <%= f.text_field :customer_code %>
            </p>
            <p>
              <%= f.label :tube_size %>
              <%= f.text_field :tube_size %>
            </p>
            <p>
              <%= f.label "Customer Name"%>
              <%=f.collection_select( :customer_id, Customer.all,:id,:name,{:include_blank => "----------Select----------"})%>
            </p>
            <p>
              <%= f.label :serialize_id %>
              <%= f.text_field :serialize_id %>
            </p>
             <p>
              <%= f.label :quantity %>
              <%= f.text_field :quantity %>
            </p>
          </div>
          </div>
        <div style="width: 52%;" class="fr">
          <div>
            <p>
              <%= f.label :pieces %>
              <%= f.text_field :pieces %>
            </p>
            <p>
              <%= f.label :meter %>
              <%= f.text_field :meter %>
            </p>
            <p>
              <%= f.label :kilos %>
              <%= f.text_field :kilos %>
            </p>
                  <p>
              <%= f.label :po_no %>
              <%= f.text_field :po_no %>
            </p>
            </div>
          </div>
          <br class="clear"/>
          <div class="txtC" id="submit_div">
            <%= f.submit "Create" , :class=>'button submit_buttons'%>
              <%=link_to 'Cancel',salesplans_path, :class=>'button submit_buttons cancelbutton' %>
          </div>
          <br class="clear"/>
        </div>
      <% end %>
    </div>
  </div>
</div>
