<script type="text/javascript">
    livia_datepicker();
</script>
<%= render :partial=>'layouts/process_leftside_bar' %>
<div id="center-column">
  <div class="gridDiv">
    <div class="titleHead">Tube Mill Stoppage Report</div>
    <div class="formOrder">
      <% form_for(@tube_mill_stoppage_report) do |f| %>
        <%= f.error_messages %>
        <table cellspacing="5">
          <tr>
            <td><%= f.label :date %></td>
            <td><%= f.text_field :date ,:size => 12,  :class=>'dateTextBox date_picker'%></td>
            <td><%= f.label :shift %></td>
            <td><%= f.text_field :shift,:size => 8%></td>
            <td><%= f.label :shift_incharge %></td>
            <td><%= f.text_field :shift_incharge %></td>
          </tr>
        </table>
        <table>
          <tr>
            <th>Stopage Type</th>
            <th>Description of Breakdown</th>
            <th>From</th>
            <th>To</th>
            <th>Total Time</th>
            <th>Remark</th>
          </tr>
          <tr>
            <td><%=f.select :type_stop ,Stoppage::STOPAGE_TYPE ,{:include_blank => "--- Select ---"},{:onchange => "stopagedetail(this.value);"}%></td>
            <td><span id="breakdown"><%=render :partial => 'stoppage'%></span></td>
            <td><%= f.time_select :from %></td>
            <td><%= f.time_select :to %></td>
            <td><%= f.text_field :total_time %></td>
            <td><%= f.text_field :remarks %></td>
          </tr>
        </table>
        <br class="clear"/>
        <div class="txtC" id="submit_div">
          <%= f.submit "Update" , :class=>'button submit_buttons'%>
          <%=link_to 'Back',tube_mill_stoppage_reports_path,{ :class=>'button submit_buttons cancelbutton' }%>
        </div>
        <br class="clear"/>
      <% end %>
    </div>
  </div>
</div>