<%= render :partial=>'layouts/process_leftside_bar' %>
<div id="center-column">
<div class="gridDiv">
  <div class="titleHead">New Tube Mill Stoppage Report</div>
  <div class="formMain">
   <% form_for(@tube_mill_stoppage_report) do |f| %>
  <%= f.error_messages %>
      <div>
        <!--BOX 1-->
        <div class="mt5">
        </div>
        <div class="fl w48" style="width: 52%;" >
          <div>
  <p style="width:110%">
    <%= f.label :date %>
    <%= f.datetime_select :date %>
  </p>
  <p style="width:100%">
    <%= f.label :shift %>
    <%= f.datetime_select :shift %>
  </p>
  <p style="width:100%">
    <%= f.label :from %>
    <%= f.datetime_select :from %>
  </p>
  <p style="width:100%" >
    <%= f.label :to %>
    <%= f.datetime_select :to %>  
  </p>
   <p>
    <%= f.label :size %>
    <%= f.text_field :size %>
  </p>
  <p>
    <%= f.label :customer %>
    <%= f.text_field :customer %>
  </p>
  <p style="width:50%" >
    <%= f.label :description_of_breakdown %>
    <%= f.text_field :description_of_breakdown %>
  </p>
  <p>
    <%= f.label :type %>
    <%= f.text_field :type %>
  </p>
  <p>
    <%= f.label :stoppage_code %>
    <%= f.text_field :stoppage_code %>
  </p>
  </div>
        </div>
        <div style="width: 48%;" class="fr">
          <div>
  <p>
    <%= f.label :total_time %>
    <%= f.text_field :total_time %>
  </p>
  <p>
    <%= f.label :remarks %>
    <%= f.text_field :remarks %>
  </p>
  <p>
    <%= f.label :electrical_maintainence %>
    <%= f.text_field :electrical_maintainence %>
  </p>
  <p>
    <%= f.label :mechanical_maintainence %>
    <%= f.text_field :mechanical_maintainence %>
  </p>
  <p>
    <%= f.label :operational %>
    <%= f.text_field :operational %>
  </p>
  <p>
    <%= f.label :roll_change %>
    <%= f.text_field :roll_change %>
  </p>
  <p>
    <%= f.label :raw_material_shortage %>
    <%= f.text_field :raw_material_shortage %>
  </p>
  <p>
    <%= f.label :man_power_shortage %>
    <%= f.text_field :man_power_shortage %>
  </p>
  <p>
    <%= f.label :crane_delay %>
    <%= f.text_field :crane_delay %>
  </p>
  <p>
    <%= f.label :power_failure %>
    <%= f.text_field :power_failure %>
  </p>
  <p>
    <%= f.label :remarks_last %>
    <%= f.text_field :remarks_last %>
  </p>
  <p>
    <%= f.label :shift_incharge %>
    <%= f.text_field :shift_incharge %>
  </p>
 </div>
        </div>
        <br class="clear"/>
        <div class="txtC" id="submit_div">
          <%= f.submit "Create" , :class=>'button submit_buttons'%>
        </div>
        <br class="clear"/>
      </div>
    <% end %>
  </div>
</div>
</div>