<%= render :partial=>'layouts/customer_leftside_bar' %>
<div id="center-column">
  <div class="gridDiv">
    <div class="titleHead">Customer</div>
    <div class="formOrder">
      <% form_for(@customer) do |f| %>
        <%= f.error_messages %>
          <!--BOX 1-->
            <table cellspacing="3" cellpadding="3" width="100%">
            <tr>
              <td><%= f.label :name %></td>
              <td><%= f.text_field :name ,:size => 20%></td>
              <td><%= f.label :customercode %></td>
              <td><%= f.text_field :customer_code ,:size => 20 %></td>
              <td><%= f.label :contact_person %></td>
              <td><%= f.text_field :contact_person ,:size => 20%></td>
            </tr>
            <tr>
              <td><%= f.label :phone %></td>
              <td><%= f.text_field :phone ,:size => 20%></td>
              <td><%= f.label :mobile %></td>
              <td><%= f.text_field :mobile ,:size => 20%></td>
              <td><%= f.label :email %></td>
              <td><%= f.text_field :email ,:size => 20%></td>
            </tr>
            <tr>
              <td><%= f.label :street %></td>
              <td><%= f.text_field :street ,:size => 20%></td>
              <td><%= f.label :address %></td>
              <td><%= f.text_area :address ,:rows => 5, :cols => 18%></td>
              <td><%= f.label :city %></td>
              <td><%= f.text_field :city ,:size => 20%></td>
            </tr>
            <tr>
              <td><%= f.label :state %></td>
              <td><%= f.text_field :state ,:size => 20%></td>
              <td><%= f.label :pin %></td>
              <td><%= f.text_field :pin ,:size => 20%></td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td><%= f.label :range %></td>
              <td><%= f.text_field :range ,:size => 20 %></td>
              <td><%= f.label :division %></td>
              <td><%= f.text_field :division ,:size => 20 %></td>
              <td><%= f.label :collectorate %></td>
              <td><%= f.text_field :collectorate ,:size => 20 %></td>
            </tr>
            <tr>
              <td><%= f.label :ifc_nno %></td>
              <td><%= f.text_field :ifc_no ,:size => 20%></td>
              <td><%= f.label :dgft_code %></td>
              <td><%= f.text_field :dgft_code ,:size => 20%></td>
              <td><%= f.label :ecc_no%></td>
              <td><%= f.text_field :ecc_no ,:size => 20%></td>
            </tr>  
            <tr>
              <td><label>Octroi</label></td>
              <td><%= f.select("octra", {"Exclusive" => "Exclusive", "Inclusive" => "Inclusive"}) %></td>
              <td><label>Excise Duty</label></td>
              <td><%= f.select("excise_duty", { "Inclusive" => "Inclusive", "Extra as Applicable" => "Extra as Applicable"}) %></td>
              <td><%= f.label :excise_registration_no %></td>
              <td><%= f.text_field :excise_registration_no ,:size => 20%></td>
            </tr>
            <tr>
              <td><%= f.label :service_tax_reg %></td>
              <td><%= f.text_field :service_tax_reg ,:size => 20 %></td>
              <td><%= f.label :gta_red_no %></td>
              <td><%= f.text_field :gta_red_no ,:size => 20 %></td>
              <td><label> Vat Tin No </label></td>
              <td><%= f.text_field :vat_no ,:size => 20 %></td>
            </tr>
            <tr>
              <td><label>  CST Tin No </label></td>
              <td><%= f.text_field :tin_no  ,:size => 20 %></td>
              <td><label> CST </label></td>
              <td><%= f.text_field :cst  ,:size => 20 %></td>
              <td><label> VAT </label></td>
              <td><%= f.text_field :vat  ,:size => 20 %></td>
            </tr>
            <tr>
              <td><label>Payment</label></td>
              <td><%= f.select("payment", { "Immediate" => "Immediate","30 days" => "30 days", "45 days" => "45 days","60 days" => "60 days","Against Proforma Invoice" => "Against Proforma Invoice","Against L/C" => "Against L/C"}) %></td>
              <td><%= f.label :payment_terms %></td>
              <td><%= f.text_field :payment_terms ,:size => 20 %></td>
              <td><%= f.label :delivery %></td>
              <td><%= f.select("delivery", { "FOR" => "FOR", "EX Works" => "EX Works"}) %></td>
            </tr>
            <tr>
              <td><%= f.label :pan_no %></td>
              <td><%= f.text_field :pan_no ,:size => 20 %></td>
              <td><%= f.label :bankers %></td>
              <td><%= f.text_field :bankers ,:size => 20 %></td>
              <td><%= f.label :bank_ac_no %></td>
              <td><%= f.text_field :bank_ac_no ,:size => 20 %></td>
            </tr>
            <tr>
              <br class="clear"/>
              <td colspan="6" align="center">
              <%= f.submit "Create" , :class=>'button submit_buttons'%>  
              <%=link_to 'Cancel',customers_path, :class=>'button submit_buttons cancelbutton' %>
              </td>
            </tr>
            </table>
      <% end %>
    </div>
  </div>
</div>