<%= render :partial=>'layouts/customer_leftside_bar' %>
<div id="center-column">
  <div class="gridDiv">
    <div class="titleHead">Customer</div>
    <div class="formMain">
      <% form_for(@customer) do |f| %>
        <%= f.error_messages %>
        <div>
          <!--BOX 1-->
          <div class="mt5">
          </div> 
          <div class="fl w48" style="width: 48%;" >
            <div>
                    <p>
                <%= f.label :name %>
                <%= f.text_field :name %>
              </p>
              <p>
                <%= f.label :customercode %>
                <%= f.text_field :customer_code %>
              </p>
              <p>
                <%= f.label :ifc_nno %>
                <%= f.text_field :ifc_no %>
              </p>
                <p>
                <%= f.label :dgft_code %>
                <%= f.text_field :dgft_code %>
              </p>
                 <p>
                <label>Octroi</label>
                <%= f.select("octra", {"Exclusive" => "Exclusive", "Inclusive" => "Inclusive"}) %>
              </p>
              <p>
                <label>Payment</label>
                <%= f.select("payment", { "Immediate" => "Immediate","30 days" => "30 days", "45 days" => "45 days","60 days" => "60 days","Against Proforma Invoice" => "Against Proforma Invoice","Against L/C" => "Against L/C"}) %>
              </p>
              
                
              <p>
                <%= f.label :contact_person %>
                <%= f.text_field :contact_person %>
              </p>
              <p>
                <%= f.label :phone %>
                <%= f.text_field :phone %>
              </p>
            </div>
            <div>
              <p>
                <%= f.label :mobile %>
                <%= f.text_field :mobile %>
              </p>
              <p>
                <%= f.label :email %>
                <%= f.text_field :email %>
              </p>
                                           
              <p>
                <%= f.label :range %>
                <%= f.text_field :range %>
              </p>
              <p>
                <%= f.label :division %>
                <%= f.text_field :division %>
              </p>
              <p>
                <%= f.label :collectorate %>
                <%= f.text_field :collectorate %>
              </p>
              <p>
                <%= f.label :ecc_no%>
                <%= f.text_field :ecc_no %>
              </p>
              <p>
                <%= f.label :address %>
                <%= f.text_area :address ,:rows => 3, :cols => 15%>
              </p>
              <p>
                <%= f.label :street %>
                <%= f.text_field :street%>
              </p>
              
            </div>
          </div>
          <div style="width: 52%;" class="fr">
            <div>
               <p>
                <%= f.label :service_tax_reg %>
                <%= f.text_field :service_tax_reg %>
              </p>
              <p>
                <%= f.label :gta_red_no %>
                <%= f.text_field :gta_red_no %>
              </p>
              <p>
                <label>Excise Duty</label>
                <%= f.select("excise_duty", { "Inclusive" => "Inclusive", "Extra as Applicable" => "Extra as Applicable"}) %>
              </p>
               
           
              
              <p>
                <%= f.label :excise_registration_no %>
                <%= f.text_field :excise_registration_no %>
              </p>
              <p>
                <label> Vat Tin No </label>
                <%= f.text_field :vat_no %>
              </p>
              <p>
                  <label>  CST Tin No </label>
                <%= f.text_field :tin_no %>
              </p>
              <p>
                <%= f.label :pan_no %>
                <%= f.text_field :pan_no %>
              </p>
                  <p>
                    <label> VAT </label>
                <%= f.text_field :vat %>
              </p>
                  <p>
                <label> CST </label>
                <%= f.text_field :cst %>
              </p>
              <p>
                <%= f.label :payment_terms %>
                <%= f.text_field :payment_terms %>
              </p>
              <p>
                <%= f.label :bankers %>
                <%= f.text_field :bankers %>
              </p>
            <p>
                <%= f.label :delivery %>
                <%= f.select("delivery", { "FOR" => "FOR", "EX Works" => "EX Works"}) %>
              </p>
               <p>
                <%= f.label :bank_ac_no %>
                <%= f.text_field :bank_ac_no %>
              </p>
            <p>&nbsp;</p>
              
                <p>
                <%= f.label :state %>
                <%= f.text_field :state%>
              </p>
              <p>
                <%= f.label :city %>
                <%= f.text_field :city%>
              </p>
            </div>
          </div>
          <br class="clear"/>
          <br class="clear"/>
          <br class="clear"/>
          <br class="clear"/>
          <div class="txtC" id="submit_div">

            <%= f.submit "Create" , :class=>'button submit_buttons'%>
              <%=link_to 'Cancel',customers_path, :class=>'button submit_buttons cancelbutton' %>


          </div>
          <br class="clear"/>
        </div>
      <% end %>
    </div>
  </div>
</div>