<%= render :partial=>'layouts/stock_leftside_bar' %>
<div id="center-column">
  <div class="gridDiv">
    <div class="titleHead">RawMaterial Categories</div>
    <div class="formOrder">
     <% form_for(@rawmaterial_category) do |f| %>
       <%if(@rawmaterial_category.errors.length >0)%>
          <div class='errorCont'>
            <%= error_messages_for(:rawmaterial_category)%>
            <%= flash[:error]%>
            <div class="clear"></div>
          </div>
          <%end%>
        <div  style="padding-left:320px;">
          <!--BOX 1-->
          <table>
            <tr>
              <td><label>Raw Material Category:</label></td>
              <td><%=f.text_field "name"%></td>

            </tr>
          </table>
            </div>
          <div id="detail"></div>
          <br class="clear"/>
          <div class="txtC" id="submit_div">
            <%= f.submit "Create" , :class=>'button submit_buttons'%>
            <%=link_to 'Cancel',rawmaterial_categories_path,{ :class=>'button submit_buttons cancelbutton' }%>
          </div>
          <br class="clear"/>
      
      <% end %>
    </div>
  </div>
</div>





