<div class="gridDiv">
  <div class="titleHead">New Rawmaterial Category</div>
  <div class="formMain">
    <% form_for(@rawmaterial_category) do |f| %>
      <%= f.error_messages %>
    <div style="width: 70%">
        <!--BOX 1-->
        <div class="mt5">
        </div>
        <div class="fl w48" >
          <div>
            <p>
              <%= f.label :name %>
              <%= f.text_field :name %>
            </p>
            <p>
              <%= f.label :grade %>
              <%= f.text_field :grade %>
            </p>
            </div>
          </div>

             <div class="fl w48" >
          <div class="txtC" id="submit_div" >
          <%= f.submit "Create" , :class=>'button submit_buttons'%>
          <%=link_to 'Cancel',rawmaterial_categories_path, :class=>'button submit_buttons cancelbutton' %>
        </div>
            </div>
        </div>
       
        <br class="clear"/>
      </div>
    <% end %>
  </div>


