<%sno = 1%>
<table border="1" width="70%">
  <tr>
    <th rowspan="2">S.No.</th>
    <th rowspan="2">Coil No.</th>
    <th colspan="4">Standard</th>
    <th rowspan="2">Proceed For Tube</th>
  </tr>
  <tr>
    <th>Width</th>
    <th>Thick</th>
    <th>Grade</th>
    <th>Type</th>
  </tr>
  <%@slittingproductions.each do |slitp|%>
  <tr>
    <td><%=h sno %></td>
    <td><%=h slitp.slitting_coil_no rescue "-"%></td>
    <td><%=h slitp.width_slitting rescue "-"%></td>
    <td><%=h slitp.thickness rescue "-"%></td>
    <td><%=h slitp.grade rescue "-"%></td>
    <td><%=h slitp.type rescue "-" %></td>
    <td><%=check_box_tag "#{slitp.id}[checkuncoiler][istube]"%></td>
  </tr>
    <%sno += 1%>
    <%=hidden_field_tag "#{slitp.id}[uncoiler][slittingproduction_id]", "#{slitp.id}"%>
    <%=hidden_field_tag "#{slitp.id}[uncoiler][width_actual]", "#{slitp.width_slitting}"%>
    <%=hidden_field_tag "#{slitp.id}[uncoiler][thickness_actual]", "#{slitp.thickness}"%>
    <%=hidden_field_tag "#{slitp.id}[uncoiler][grade_actual]", "#{slitp.grade}"%>
    <%=hidden_field_tag "#{slitp.id}[uncoiler][type_actual]", "#{slitp.type}"%>
  <%end%>
</table>
