<script type="text/javascript">
    livia_datepicker();
</script>
<%= render :partial=>'layouts/process_leftside_bar' %>
<div id="center-column">
<div class="gridDiv">
  <div class="titleHead">Editing uncoiler_report</div>
  <div class="formOrder">
    <% form_for(@uncoiler_report) do |f| %>
        <%= f.error_messages %>
        <table>
          <tr>
            <td><label>Mother Coil No:</label></td>
            <td><%=collection_select( :slittingproduction,:rawmaterial_id, @coils,:id,:name,{:include_blank => "---Select---"},{:onchange => "uncoilerdetail(this.value);"})%></td>
          </tr>
        </table>
        <table>
          <tr>
            <td><label>Date</label></td>
            <td><%=f.text_field :date, :size => 12, :class=>'dateTextBox date_picker'%></td>
            <td><label>Shift</label></td>
            <td><%=f.text_field :shift%></td>
            <td><label>Operator Name</label></td>
            <td><%=f.collection_select(:operator_id, @employees,:id,:full_name,{:include_blank => "---Select---"})%></td>
          </tr>
        </table>        
        <br class="clear"/>
        <div id="detail"></div>
        <div class="txtC" id="submit_div">
          <%= f.submit "Update" , :class=>'button submit_buttons'%>
          <%=link_to 'Cancel', uncoiler_reports_url, :class => "linkbutton" %>
        </div>        
    <%end%>
  </div>
</div>
</div>
