<div class="gridDiv">
  <div class="titleHead">New Uncoiler Report</div>
  <div class="formMain">
    <% form_for(@uncoiler_report) do |f| %>
      <%= f.error_messages %>
      <div>
        <!--BOX 1-->
        <div class="mt5">
        </div>
        <div class="fl w48" style="width: 48%;" >
          <div>
            <p style="width:100%">
              <%= f.label :date %>
              <%= f.datetime_select :date %>
            </p>
            <p style="width:100%">
              <%= f.label :shift %>
              <%= f.datetime_select :shift %>
            </p>
            <p>
              <%= f.label :operator_name %>
              <%= f.text_field :operator_name %>
            </p>
            <p>
              <%= f.label "Slitting coil no" %>
              <%=f.collection_select( :slittingproduction_id, Slittingproduction.all,:id,:slitting_coil_no,{:include_blank => "----------Select----------"})%>
            </p>
            <p>
              <%= f.label :tube_od %>
              <%= f.text_field :tube_od %>
            </p>
            <p>
              <%= f.label :width %>
              <%= f.text_field :width %>
            </p>
          </div>
        </div>
        <div style="width: 52%;" class="fr">
          <div>
             <p>
              <%= f.label :thickness %>
              <%= f.text_field :thickness %>
            </p>
            <p>
              <%= f.label :grade %>
              <%= f.text_field :grade %>
            </p>
            <p>
              <%= f.label :type %>
              <%= f.text_field :type %>
            </p>
            <p>
              <%= f.label :width_actual %>
              <%= f.text_field :width_actual %>
            </p>
            <p>
              <%= f.label :thickness_actual %>
              <%= f.text_field :thickness_actual %>
            </p>
            <p>
              <%= f.label :grade_actual %>
              <%= f.text_field :grade_actual %>
            </p>
            <p>
              <%= f.label :type_actual %>
              <%= f.text_field :type_actual %>
            </p>
          </div>
        </div>
        <br class="clear"/>
        <div class="txtC" id="submit_div">
          <%= f.submit "Create" , :class=>'button submit_buttons'%>
        </div>
        <br class="clear"/>
      </div>
    <% end %>
  </div>
</div>
