<%= render :partial=>'layouts/process_leftside_bar' %>
<div id="center-column">
<div class="gridDiv">
  <div class="titleHead">Slitting Production</div>
  <div class="formOrder">
    <% form_for(@slittingproduction) do |f| %>
        <%= f.error_messages %>
        <table>
          <tr>
            <td><label>Mother Coil No:</label></td>
            <td><%=f.collection_select( :rawmaterial_id, @coils,:id,:name,{:include_blank => "---Select---"},{:onchange => "slitproductioncoildetail(this.value);"})%></td>
          </tr>
        </table>
        <br class="clear"/>
        <div id="detail"></div>
        <div class="txtC" id="submit_div">
          <%= f.submit "Create" , :class=>'button submit_buttons'%>
          <%=link_to 'Cancel', tube_mill_performance_reports_url, :class => "linkbutton" %>
        </div>        
    <%end%>
  </div>
</div>
</div>