<h1>Listing addresses</h1>

<table>
  <tr>
    <th>Company name</th>
    <th>Address one</th>
    <th>Address two</th>
    <th>Phone no</th>
    <th>Fax no</th>
    <th>Email</th>
    <th>Contact person</th>
    <th>Excise reg no</th>
    <th>Range</th>
    <th>Division</th>
    <th>Collectorate</th>
    <th>Ecc no</th>
    <th>Vat tin no</th>
    <th>Cst tin no</th>
    <th>Ifc no</th>
    <th>Dgft no</th>
    <th>Pan no</th>
    <th>Service tax reg</th>
    <th>Gta red no</th>
    <th>Bankers</th>
    <th>Bank a c no</th>
  </tr>

<% for address in @addresses %>
  <tr>
    <td><%=h address.company_name %></td>
    <td><%=h address.address_one %></td>
    <td><%=h address.address_two %></td>
    <td><%=h address.phone_no %></td>
    <td><%=h address.fax_no %></td>
    <td><%=h address.email %></td>
    <td><%=h address.contact_person %></td>
    <td><%=h address.excise_reg_no %></td>
    <td><%=h address.range %></td>
    <td><%=h address.division %></td>
    <td><%=h address.collectorate %></td>
    <td><%=h address.ecc_no %></td>
    <td><%=h address.vat_tin_no %></td>
    <td><%=h address.cst_tin_no %></td>
    <td><%=h address.ifc_no %></td>
    <td><%=h address.dgft_no %></td>
    <td><%=h address.pan_no %></td>
    <td><%=h address.service_tax_reg %></td>
    <td><%=h address.gta_red_no %></td>
    <td><%=h address.bankers %></td>
    <td><%=h address.bank_a_c_no %></td>
    <td><%= link_to 'Show', address %></td>
    <td><%= link_to 'Edit', edit_address_path(address) %></td>
    <td><%= link_to 'Destroy', address, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New address', new_address_path %>
