
<%= render :partial=>'layouts/supplier_info' %>
<div id="center-column">
  <div class="gridDiv">
    <div class="titleHead">Suppler Information</div>
    <div class="formMain">
      <% form_for(@address) do |f| %>
        <%= f.error_messages %>
        <div>
          <!--BOX 1-->
          <div class="mt5">
          <div class="fl w48" style="width: 48%;" >
            <div>
              <p>
                <%= f.label :company_name %>
                <%= f.text_field :company_name %>
              </p>
              <p>
                <%= f.label :phone_no %>
                <%= f.text_field :phone_no %>
              </p>
              <p>
                <%= f.label :fax_no %>
                <%= f.text_field :fax_no %>
              </p>
              <p>
                <%= f.label :email %>
                <%= f.text_field :email %>
              </p>
              <p>
                <%= f.label :contact_person %>
                <%= f.text_field :contact_person %>
              </p>
              <p>
                <%= f.label :excise_reg_no %>
                <%= f.text_field :excise_reg_no %>
              </p>
              <p>
                <%= f.label :range %>
                <%= f.text_field :range %>
              </p>
              <p>
                <%= f.label :division %>
                <%= f.text_field :division %>
              </p>
              <p>
                <%= f.label :collectorate %>
                <%= f.text_field :collectorate %>
              </p>
               <p>
                <%= f.label :bankers %>
                <%= f.text_field :bankers %>
              </p>
                <p>
                <%= f.label :street %>
                <%= f.text_field :street %>
              </p>
                <p>
                <%= f.label :city %>
                <%= f.text_field :city %>
              </p>
               <p>
                <%= f.label :zipcode %>
                <%= f.text_field :zipcode %>
              </p>
               
          </div></div>
               <div class="fl w48" >
          <div>
              <p>
                <%= f.label :ecc_no %>
                <%= f.text_field :ecc_no %>
              </p>
              <p>
                <%= f.label :vat_tin_no %>
                <%= f.text_field :vat_tin_no %>
              </p>
              <p>
                <%= f.label :cst_tin_no %>
                <%= f.text_field :cst_tin_no %>
              </p>
              <p>
                <%= f.label :ifc_no %>
                <%= f.text_field :ifc_no %>
              </p>
              <p>
                <%= f.label :dgft_no %>
                <%= f.text_field :dgft_no %>
              </p>
              <p>
                <%= f.label :pan_no %>
                <%= f.text_field :pan_no %>
              </p>
              <p>
                <%= f.label :service_tax_reg %>
                <%= f.text_field :service_tax_reg %>
              </p>
              <p>
                <%= f.label :gta_red_no %>
                <%= f.text_field :gta_red_no %>
              </p>
             
              <p>
                <%= f.label :bank_a_c_no %>
                <%= f.text_field :bank_a_c_no %>
              </p>
               <p>
                <%= f.label :address %>
                <%= f.text_area :address ,:rows => 3, :cols => 15%>
              </p>
                <p>
                <%= f.label :state %>
                <%= f.text_field :state %>
              </p>
            </div>
          </div>
        </div>
      </div>
      <br class="clear"/>
      <div class="txtC" id="submit_div">
        <%= f.submit "Create" , :class=>'button submit_buttons'%>
        <%=f.submit 'Cancel',{ :class=>'button submit_buttons cancelbutton' }%>
      </div>
      <br class="clear"/>
<% end %></div></div>
</div>
