<%= render :partial=>'layouts/supplier_info' %>
<div id="center-column">
  <div class="gridDiv">
    <div class="titleHead">Suppler Information</div>
    <div class="formMain">
      <% form_for(@address) do |f| %>
        <%if(@address.errors.length >0)%>
          <div class='errorCont'>
            <%= error_messages_for(:address)%>
            <%= flash[:error]%>
            <div class="clear"></div>
          </div>
        <%end%>

          <table cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td colspan="4">
                <div class="titleHead">Office Info</div>
              </td>
            </tr>
            <tr>
              <td>
                <p>
                <%= f.label "Company Name<span style='color:red;'>*</span>" %>
                <%= f.text_field :company_name %>
                <div class="clear" id="cl_5"></div>
              </p>
              </td>
              <td>
                <p>
                <%= f.label "Ecc No<span style='color:red;'>*</span>" %>
                <%= f.text_field :ecc_no %>
                <div class="clear" id="cl_5"></div>
              </p>
              </td>
              <td>
                 <p>
                <%= f.label :vat_tin_no %>
                <%= f.text_field :vat_tin_no %>
                <div class="clear" id="cl_5"></div>
              </p>
              </td>
              <td>
                <p>
                <%= f.label :cst_tin_no %>
                <%= f.text_field :cst_tin_no %>
                <div class="clear" id="cl_5"></div>
              </p>
              </td>
            </tr>
            <tr>
              <td>
                 <p>
                <%= f.label :ifc_no %>
                <%= f.text_field :ifc_no %>
                <div class="clear" id="cl_5"></div>
              </p>
              </td>
              <td>
                 <p>
                <%= f.label "Dgft No<span style='color:red;'>*</span>" %>
                <%= f.text_field :dgft_no %>
                <div class="clear" id="cl_5"></div>
              </p>
              </td>
              <td>
                 <p>
                <%= f.label :pan_no %>
                <%= f.text_field :pan_no %>
                <div class="clear" id="cl_5"></div>
              </p>
              </td>
              <td>
                 <p>
                <%= f.label :gta_red_no %>
                <%= f.text_field :gta_red_no %>
                <div class="clear" id="cl_5"></div>
              </p>
              </td>
            </tr>
            <tr>
              <td>
                <p>
                <%= f.label :excise_reg_no %>
                <%= f.text_field :excise_reg_no %>
                <div class="clear" id="cl_5"></div>
              </p>
              </td>
              <td>
                 <p>
                <%= f.label "Range<span style='color:red;'>*</span>" %>
                <%= f.text_field :range %>
                <div class="clear" id="cl_5"></div>
              </p>
              </td>
              <td>
                <p>
                <%= f.label "Contact Person<span style='color:red;'>*</span>" %>
                <%= f.text_field :contact_person %>
                <div class="clear" id="cl_5"></div>
              </p>
              </td>
              <td>
                <p>
                <%= f.label "Collectorate<span style='color:red;'>*</span>" %>
                <%= f.text_field :collectorate %>
                <div class="clear" id="cl_5"></div>
              </p>
              </td>
            </tr>
            <tr>
              <td colspan="4">
                <p>
                <%= f.label "Division<span style='color:red;'>*</span>" %>
                <%= f.text_field :division %>
                <div class="clear" id="cl_5"></div>
              </p> 
              </td>
            </tr>
             <tr>
              <td colspan="4">
                <div class="titleHead">Payment Info</div>
              </td>
            </tr>
            <tr>
              <td>
               <p>
                <%= f.label "Service Tax Reg<span style='color:red;'>*</span>" %>
                <%= f.text_field :service_tax_reg %>
                <div class="clear" id="cl_5"></div>
              </p>
              </td>
              <td>
                <p>
                <%= f.label :bankers %>
                <%= f.text_field :bankers %>
                <div class="clear" id="cl_5"></div>
              </p>
              </td>
              <td colspan="2">
                 <p>
                <%= f.label "Bank Ac No<span style='color:red;'>*</span>" %>
                <%= f.text_field :bank_a_c_no %>
                <div class="clear" id="cl_5"></div>
              </p>
              </td>
             
            </tr>
             <tr>
              <td colspan="4">
                <div class="titleHead">Other Info</div>
              </td>
            </tr>
            <tr>
              <td>
               <p>
                <%= f.label :email %>
                <%= f.text_field :email %>
                <div class="clear" id="cl_5"></div>
              </p>
              </td>
              <td>
                <p>
                <%= f.label :phone_no %>
                <%= f.text_field :phone_no %>
                <div class="clear" id="cl_5"></div>
              </p>
              </td>
              <td>
                 <p>
                <%= f.label "Fax No<span style='color:red;'>*</span>" %>
                <%= f.text_field :fax_no %>
                <div class="clear" id="cl_5"></div>
              </p>
              </td>
              <td>
                <p>
                <%= f.label "Address<span style='color:red;'>*</span>" %>
                <%= f.text_area :address ,:rows => 3, :cols => 15%>
                <div class="clear" id="cl_5"></div>
              </p>
              </td>
            </tr>
            <tr>
              <td>
               <p>
                <%= f.label :street %>
                <%= f.text_field :street %>
                <div class="clear" id="cl_5"></div>
              </p>
              </td>
              <td>
                 <p>
                <%= f.label "City<span style='color:red;'>*</span>" %>
                <%= f.text_field :city %>
                <div class="clear" id="cl_5"></div>
              </p>
              </td>
              <td>
                <p>
                <%= f.label :state %>
                <%= f.text_field :state %>
                <div class="clear" id="cl_5"></div>
              </p>
              </td>
              <td>
                <p>
                <%= f.label "Zipcode<span style='color:red;'>*</span>" %>
                <%= f.text_field :zipcode %>
                <div class="clear" id="cl_5"></div>
              </p>
              </td>
            </tr>
            <tr>
              <td colspan="4" align="center">
                <div class="txtC" id="submit_div">
          <%= f.submit "Create" , :class=>'button submit_buttons'%>
          <%=link_to 'Cancel', addresses_url, :class => "linkbutton" %>
        </div>
              </td>
            </tr>
          </table>
  <% end %></div></div>
</div>
