<p>
  <b>Company name:</b>
  <%=h @address.company_name %>
</p>

<p>
  <b>Address one:</b>
  <%=h @address.address_one %>
</p>

<p>
  <b>Address two:</b>
  <%=h @address.address_two %>
</p>

<p>
  <b>Phone no:</b>
  <%=h @address.phone_no %>
</p>

<p>
  <b>Fax no:</b>
  <%=h @address.fax_no %>
</p>

<p>
  <b>Email:</b>
  <%=h @address.email %>
</p>

<p>
  <b>Contact person:</b>
  <%=h @address.contact_person %>
</p>

<p>
  <b>Excise reg no:</b>
  <%=h @address.excise_reg_no %>
</p>

<p>
  <b>Range:</b>
  <%=h @address.range %>
</p>

<p>
  <b>Division:</b>
  <%=h @address.division %>
</p>

<p>
  <b>Collectorate:</b>
  <%=h @address.collectorate %>
</p>

<p>
  <b>Ecc no:</b>
  <%=h @address.ecc_no %>
</p>

<p>
  <b>Vat tin no:</b>
  <%=h @address.vat_tin_no %>
</p>

<p>
  <b>Cst tin no:</b>
  <%=h @address.cst_tin_no %>
</p>

<p>
  <b>Ifc no:</b>
  <%=h @address.ifc_no %>
</p>

<p>
  <b>Dgft no:</b>
  <%=h @address.dgft_no %>
</p>

<p>
  <b>Pan no:</b>
  <%=h @address.pan_no %>
</p>

<p>
  <b>Service tax reg:</b>
  <%=h @address.service_tax_reg %>
</p>

<p>
  <b>Gta red no:</b>
  <%=h @address.gta_red_no %>
</p>

<p>
  <b>Bankers:</b>
  <%=h @address.bankers %>
</p>

<p>
  <b>Bank a c no:</b>
  <%=h @address.bank_a_c_no %>
</p>


<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
