<%= render :partial=>'layouts/delivery' %>
<h1>Editing predespatchtc</h1>

<% form_for(@predespatchtc) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :test_certificate_no %><br />
    <%= f.text_field :test_certificate_no %>
  </p>
  <p>
    <%= f.label :invoice_id %><br />
    <%= f.text_field :invoice_id %>
  </p>
  <p>
    <%= f.label :customer_id %><br />
    <%= f.text_field :customer_id %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </p>
  <p>
    <%= f.label :od %><br />
    <%= f.text_field :od %>
  </p>
  <p>
    <%= f.label :thickness %><br />
    <%= f.text_field :thickness %>
  </p>
  <p>
    <%= f.label :length %><br />
    <%= f.text_field :length %>
  </p>
  <p>
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </p>
  <p>
    <%= f.label :specification %><br />
    <%= f.text_field :specification %>
  </p>
  <p>
    <%= f.label :grade %><br />
    <%= f.text_field :grade %>
  </p>
  <p>
    <%= f.label :fin_condition %><br />
    <%= f.text_field :fin_condition %>
  </p>
  <p>
    <%= f.label :uann_ann %><br />
    <%= f.text_field :uann_ann %>
  </p>
  <p>
    <%= f.label :c_spec %><br />
    <%= f.text_field :c_spec %>
  </p>
  <p>
    <%= f.label :c_obs %><br />
    <%= f.text_field :c_obs %>
  </p>
  <p>
    <%= f.label :mn_spec %><br />
    <%= f.text_field :mn_spec %>
  </p>
  <p>
    <%= f.label :mn_obs %><br />
    <%= f.text_field :mn_obs %>
  </p>
  <p>
    <%= f.label :s_spec %><br />
    <%= f.text_field :s_spec %>
  </p>
  <p>
    <%= f.label :s_obs %><br />
    <%= f.text_field :s_obs %>
  </p>
  <p>
    <%= f.label :p_spec %><br />
    <%= f.text_field :p_spec %>
  </p>
  <p>
    <%= f.label :p_obs %><br />
    <%= f.text_field :p_obs %>
  </p>
  <p>
    <%= f.label :si_spec %><br />
    <%= f.text_field :si_spec %>
  </p>
  <p>
    <%= f.label :si_obs %><br />
    <%= f.text_field :si_obs %>
  </p>
  <p>
    <%= f.label :al_spec %><br />
    <%= f.text_field :al_spec %>
  </p>
  <p>
    <%= f.label :al_obs %><br />
    <%= f.text_field :al_obs %>
  </p>
  <p>
    <%= f.label :ni_spec %><br />
    <%= f.text_field :ni_spec %>
  </p>
  <p>
    <%= f.label :ni_obs %><br />
    <%= f.text_field :ni_obs %>
  </p>
  <p>
    <%= f.label :cr_spec %><br />
    <%= f.text_field :cr_spec %>
  </p>
  <p>
    <%= f.label :cr_obs %><br />
    <%= f.text_field :cr_obs %>
  </p>
  <p>
    <%= f.label :ys_spec %><br />
    <%= f.text_field :ys_spec %>
  </p>
  <p>
    <%= f.label :ys_obs %><br />
    <%= f.text_field :ys_obs %>
  </p>
  <p>
    <%= f.label :ts_obs %><br />
    <%= f.text_field :ts_obs %>
  </p>
  <p>
    <%= f.label :ts_spec %><br />
    <%= f.text_field :ts_spec %>
  </p>
  <p>
    <%= f.label :el_spec %><br />
    <%= f.text_field :el_spec %>
  </p>
  <p>
    <%= f.label :el_obs %><br />
    <%= f.text_field :el_obs %>
  </p>
  <p>
    <%= f.label :gl_hardness_spec %><br />
    <%= f.text_field :gl_hardness_spec %>
  </p>
  <p>
    <%= f.label :el_hardness_obs %><br />
    <%= f.text_field :el_hardness_obs %>
  </p>
  <p>
    <%= f.label :od_spec %><br />
    <%= f.text_field :od_spec %>
  </p>
  <p>
    <%= f.label :od_obs %><br />
    <%= f.text_field :od_obs %>
  </p>
  <p>
    <%= f.label :id_spec %><br />
    <%= f.text_field :id_spec %>
  </p>
  <p>
    <%= f.label :id_obs %><br />
    <%= f.text_field :id_obs %>
  </p>
  <p>
    <%= f.label :thick_spec %><br />
    <%= f.text_field :thick_spec %>
  </p>
  <p>
    <%= f.label :thick_obs %><br />
    <%= f.text_field :thick_obs %>
  </p>
  <p>
    <%= f.label :length_spec %><br />
    <%= f.text_field :length_spec %>
  </p>
  <p>
    <%= f.label :length_obs %><br />
    <%= f.text_field :length_obs %>
  </p>
  <p>
    <%= f.label :scratch_mark %><br />
    <%= f.text_field :scratch_mark %>
  </p>
  <p>
    <%= f.label :roll_pick_up %><br />
    <%= f.text_field :roll_pick_up %>
  </p>
  <p>
    <%= f.label :pits_dents %><br />
    <%= f.text_field :pits_dents %>
  </p>
  <p>
    <%= f.label :bend %><br />
    <%= f.text_field :bend %>
  </p>
  <p>
    <%= f.label :corner_radius %><br />
    <%= f.text_field :corner_radius %>
  </p>
  <p>
    <%= f.label :squareness %><br />
    <%= f.text_field :squareness %>
  </p>
  <p>
    <%= f.label :twist %><br />
    <%= f.text_field :twist %>
  </p>
  <p>
    <%= f.label :flaring_spec %><br />
    <%= f.text_field :flaring_spec %>
  </p>
  <p>
    <%= f.label :flaring_obs %><br />
    <%= f.text_field :flaring_obs %>
  </p>
  <p>
    <%= f.label :flattening_obs %><br />
    <%= f.text_field :flattening_obs %>
  </p>
  <p>
    <%= f.label :flattening_spec %><br />
    <%= f.text_field :flattening_spec %>
  </p>
  <p>
    <%= f.label :bending_spec %><br />
    <%= f.text_field :bending_spec %>
  </p>
  <p>
    <%= f.label :bending_obs %><br />
    <%= f.text_field :bending_obs %>
  </p>
  <p>
    <%= f.label :crushing_spec %><br />
    <%= f.text_field :crushing_spec %>
  </p>
  <p>
    <%= f.label :crushing_obs %><br />
    <%= f.text_field :crushing_obs %>
  </p>
 
  <p>
    <%= f.label :slittingproduction_id %><br />
    <%= f.text_field :slittingproduction_id %>
  </p>
  <p>
    <%= f.label :inspected_by %><br />
    <%= f.text_field :inspected_by %>
  </p>
  <p>
    <%= f.label :approved_by %><br />
    <%= f.text_field :approved_by %>
  </p>
  <p>
    <%= f.label :tube_mill_performance_report_id %><br />
    <%= f.text_field :tube_mill_performance_report_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @predespatchtc %> |
<%= link_to 'Back', predespatchtcs_path %>
