<script type="text/javascript">
    livia_datepicker();
</script>
<%= render :partial=>'layouts/delivery' %>
<div id="center-column">
  <div class="gridDiv">
    <div class="titleHead">Editing Predespatchtc</div>
    <div class="formMain" id="pre_disp">
      <% form_for(@predespatchtc) do |f| %>
        <%= f.error_messages %>
        <table width="100%" cellpadding="3" cellspacing="3" border="1">
          <tr><td align="center" colspan="4">
              <div style="font-size:15px;"><b>Pre-Despatch Inspection Cum Test Certification</b></div>
          </td></tr>
          <tr>
            <td>
              <label> Test certificate no </label>
            </td>
            <td>
              <%= f.text_field :test_certificate_no %>
            </td>
            <td>
              <%= f.label :date %>
            </td>
            <td>
              <%= f.text_field :date, :class=>'dateTextBox date_picker'%>
            </td>
          
          </tr>
          <tr>
            <td>
              <label> Invoice no </label>
            </td>
            <td>
              <%=f.collection_select( :taxinvoice_id, Taxinvoice.all,:id,:invoice_no,{:include_blank => "----------Select----------"})%>
            </td>
            <td>
              <%= f.label :lot_no %>
            </td>
            <td>
             <%=f.collection_select( :tube_mill_performance_report_id, @tube_mill,:id,:lot_no,{:include_blank => "---Select---"},{:onchange => "predespatch_lot(this.value);"})%>
            </td>
          
          </tr>
          <tr>
          
            <td >
              <%= f.label "Customers Name" %>
            </td>
            <td >
              <%=f.collection_select( :customer_id, Customer.all,:id,:name,{:include_blank => "----------Select----------"})%>
            </td>

            <td >
              <%= f.label "Specification" %>
            </td>
            <td colspan="3">
              <%=f.collection_select( :specification_id, @specification,:id,:specification_name,{:include_blank => "----------Select----------"},{:onchange => "specification_to_predespatch(this.value);"})%>
            </td>
          </tr>
        </table>
        <br/>
        <table cellpadding="3" cellspacing="3" width="100%" border="1">
          <tr>
            <td>
              <table cellpadding="0" cellspacing="0" width="100%" border="1">
                <tr>
                  <td colspan="3" align="center">
                    <b>Size(mm)</b>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>OD</b>
                  </td>
                  <td>
                    <b>Thick</b>
                  </td>
                  <td>
                    <b>Length</b>
                  </td>
                </tr>
              </table>
            </td>
            <td>
              <b>Qty.(Pcs.)</b>
            </td>
            <td>
              <b>Grade</b>
            </td>
            <td>
              <b>Fin Condition</b>
            </td>
            <td>
              <b>UANN/ANN</b>
            </td>
          </tr>
          <tr>
            <td>
              <table cellpadding="0" cellspacing="0" width="100%" border="1">
                <tr>
                  <td>
                    <%= f.text_field :od %>
                  </td>
                  <td>
                    <%= f.text_field :thickness %>
                  </td>
                  <td>
                    <%= f.text_field :length %>
                  </td>
                </tr>
              </table>
            </td>
            <td>
              <%= f.text_field :quantity %>
            </td>
          
            <td>
              <%= f.text_field :grade %>
            </td>
            <td>
              <b> <%= f.text_field :fin_condition %></b>
            </td>
            <td>
              <%= f.text_field :uann_ann %>
            </td>
          </tr>
        </table>
      <br/>
        <table cellpadding="0" cellspacing="0" width="100%" border="1">
          <tr>
            <td align="center">
              <b>Chemical Composition</b>
            </td>
            <td align="center">
              <b>Mechanical Properties</b>
            </td>
          </tr>
          <tr>
            <td width="50%">
              <table cellpadding="3" cellspacing="3" width="100%" border="1">
                <thead>
                  <th>
                    &nbsp;
                  </th>
                  <th>
                    %c
                  </th>
                  <th>
                    %Mn
                  </th>
                  <th>
                    %s
                  </th>
                  <th>
                    %p
                  </th>
                  <th>
                    %si
                  </th>
                  <th>
                    %AI
                  </th>
                  <th>
                    %Ni
                  </th>
                  <th>
                    %Cr
                  </th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Spacified(Max.)
                    </td>
                    <td>
                      <%= f.text_field :c_spec %>
                    </td>
                    <td>
                      <%= f.text_field :mn_spec %>
                    </td>
                    <td>
                      <%= f.text_field :s_spec %>
                    </td>
                    <td>
                      <%= f.text_field :p_spec %>
                    </td>
                    <td>
                      <%= f.text_field :si_spec %>
                    </td>
                    <td>
                      <%= f.text_field :al_spec %>
                    </td>
                    <td>
                      <%= f.text_field :ni_spec %>
                    </td>
                    <td>
                      <%= f.text_field :cr_spec %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Observed
                    </td>
                    <td>
                      <%= f.text_field :c_obs  %>
                    </td>
                    <td>
                      <%= f.text_field :mn_obs  %>
                    </td>
                    <td>
                      <%= f.text_field :s_obs  %>
                    </td>
                    <td>
                      <%= f.text_field :p_obs  %>
                    </td>
                    <td>
                      <%= f.text_field :si_obs  %>
                    </td>
                    <td>
                      <%= f.text_field :al_obs  %>
                    </td>
                    <td>
                      <%= f.text_field :ni_obs  %>
                    </td>
                    <td>
                      <%= f.text_field :cr_obs  %>
                    </td>
                  
                  </tr>
                
                </tbody>
              </table>
            </td>
            <td width="50%">
              <table cellpadding="3" cellspacing="3" width="100%" border="1">
                <thead>
                
                  <th>
                    Y.S
                    (Kgs/mm2)
                  </th>
                  <th>
                    T.S
                    (Kgs/mm2)
                  </th>
                  <th>%El 
                    5.65_/Area
                  </th>
                  <th>
                    Headness
                    (HRB)
                  </th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <%= f.text_field :ys_spec %>
                    </td>
                    <td>
                      <%= f.text_field :ts_spec %>
                    </td>
                    <td>
                      <%= f.text_field :el_spec %>
                    </td>
                    <td>
                      <%= f.text_field :gl_hardness_spec %>
                    </td>
                  
                  </tr>
                  <tr>
                    <td>
                      <%= f.text_field :ys_obs %>
                    </td>
                    <td>
                      <%= f.text_field :ts_obs %>
                    </td>
                    <td>
                      <%= f.text_field :el_obs %>
                    </td>
                    <td>
                      <%= f.text_field :el_hardness_obs %>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </table>
        <br/>
        <table cellpadding="0" cellspacing="0" width="100%" border="1">
          <tr>
            <td align="center">
              <b>Dimensional Observation(mm)</b>
            </td>
            <td align="center">
              <b>Visual Parameters</b>
            </td>
          </tr>
          <tr>
        <tr>
        <td>
          <table cellpadding="3" cellspacing="3" width="100%" border="1">
            <thead>
              <th>
                &nbsp;
              </th>
              <th>
                OD/Width
              </th>
              <th>
                ID/Height
              </th>
              <th>
                Thick
              </th>
              <th>
                Length
              </th>
            </thead>
              <tr>
                <td>
                  Spacified(Max.)
                </td>
                <td>
                 <%= f.text_field :od_spec %>
                </td>
                <td>
                <%= f.text_field :id_spec %>
                </td>
                <td>
                  <%= f.text_field :thick_spec %>
                </td>
                <td>
                  <%= f.text_field :length_spec %>
                </td>
              </tr>
              <tr>
                <td>
                  Observed
                </td>
                <td>
                 <%= f.text_field :od_obs %>
                </td>
                <td>
                <%= f.text_field :id_obs %>
                </td>
                <td>
                  <%= f.text_field :thick_obs %>
                </td>
                <td>
                  <%= f.text_field :length_obs %>
                </td>
              </tr>
              <tr>
                <td colspan="5" align="center">
                  <b>Destructive Testing</b>
                </td>
              </tr>
              <tr>
                <td>
                  &nbsp;
                </td>
                <td>
                  Flaring
                </td>
                <td>
                  Flatterning
                </td>
                <td>
                  Bending
                </td>
                <td>
                  Crushing
                </td>
              </tr>
              <tr>
                <td>
                  Specified
                </td>
                <td>
                   <%= f.text_field :flaring_spec %>
                </td>
                <td>
                  <%= f.text_field :flattening_spec %>
                </td>
                <td>
                  <%= f.text_field :bending_spec %>
                </td>
                <td>
                  <%= f.text_field :crushing_spec %>
                </td>
              </tr>
              <tr>
                <td>
                   Observed
                </td>
                <td>
                   <%= f.text_field :flaring_obs %>
                </td>
                <td>
                  <%= f.text_field :flattening_obs %>
                </td>
                <td>
                  <%= f.text_field :bending_obs %>
                </td>
                <td>
                  <%= f.text_field :crushing_obs %>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
        <td>
        <table cellpadding="3" cellspacing="3" width="100%" border="1">
          <tr>
            <td>
              Scratch Mark
            </td>
            <td>
              <%= f.text_field :scratch_mark %>
            </td>
          </tr>
          <tr>
            <td>
              Roll/Pickup Mark
            </td>
            <td>
              <%= f.text_field :roll_pick_up %>
            </td>
          </tr>
           <tr>
            <td>
              Pits/Dents
            </td>
            <td>
             <%= f.text_field :pits_dents %>
            </td>
          </tr>
          <tr>
            <td>
              Bend
            </td>
            <td>
              <%= f.text_field :bend %>
            </td>
          </tr>
           <tr>
            <td>
              Corner Radius
            </td>
            <td>
              <%= f.text_field :corner_radius %>
            </td>
          </tr>
          <tr>
            <td>
              Squareness
            </td>
            <td>
              <%= f.text_field :squareness %>
            </td>
          </tr>
           <tr>
            <td>
              Twist
            </td>
            <td>
              <%= f.text_field :twist %>
            </td>
          </tr>
        </table>
        </td>
        <tr/>
       </table>
      <br/>
      <table cellpadding="3" cellspacing="3" border="1" width="100%">
        <tr>
          <td align="center" colspan="4">
            <b>Identification Details</b>
          </td>
        </tr>
        <tr>
          <td>
            Coil No.
          </td>
          <td>
              <%=f.collection_select( :rawmaterial_id, @raw_material,:id,:name,{:include_blank => "---Select---"})%>
          </td>
        </tr>
        <tr>
          <td colspan="4">
            Chemical Copositions have been verified from raw material supplier test certificate.
          </td>
        </tr>
        <tr>
          <td style="padding-top:50px;" align="center" width="25%">
            Inspected By.
          </td>
          <td style="padding-top:50px;" align="center" width="25%">
            <%=f.collection_select(:inspected_id, @employees,:id,:full_name,{:include_blank => "---Select---"})%>
          </td>
          <td style="padding-top:50px;" align="center" width="25%">
            Aproved By.
          </td>
          <td style="padding-top:50px;" align="center" width="25%">
            <%=f.collection_select(:employee_id, @employees,:id,:full_name,{:include_blank => "---Select---"})%>
          </td>
        </tr>
  </table>  
          <br class="clear"/>
          <div class="txtC" id="submit_div">
            <%= f.submit "Create" , :class=>'button submit_buttons'%>
          </div>
          <br class="clear"/>
        </div>
      <% end %>
    </div>
</div>
