<p>
  <b>Test certificate no:</b>
  <%=h @predespatchtc.test_certificate_no %>
</p>

<p>
  <b>Invoice:</b>
  <%=h @predespatchtc.taxinvoice_id %>
</p>

<p>
  <b>Customer:</b>
  <%=h @predespatchtc.customer_id %>
</p>

<p>
  <b>Date:</b>
  <%=h @predespatchtc.date %>
</p>

<p>
  <b>Od:</b>
  <%=h @predespatchtc.od %>
</p>

<p>
  <b>Thickness:</b>
  <%=h @predespatchtc.thickness %>
</p>

<p>
  <b>Length:</b>
  <%=h @predespatchtc.length %>
</p>

<p>
  <b>Quantity:</b>
  <%=h @predespatchtc.quantity %>
</p>

<p>
  <b>Specification:</b>
  <%=h @predespatchtc.specification %>
</p>

<p>
  <b>Grade:</b>
  <%=h @predespatchtc.grade %>
</p>

<p>
  <b>Fin condition:</b>
  <%=h @predespatchtc.fin_condition %>
</p>

<p>
  <b>Uann ann:</b>
  <%=h @predespatchtc.uann_ann %>
</p>

<p>
  <b>C spec:</b>
  <%=h @predespatchtc.c_spec %>
</p>

<p>
  <b>C obs:</b>
  <%=h @predespatchtc.c_obs %>
</p>

<p>
  <b>Mn spec:</b>
  <%=h @predespatchtc.mn_spec %>
</p>

<p>
  <b>Mn obs:</b>
  <%=h @predespatchtc.mn_obs %>
</p>

<p>
  <b>S spec:</b>
  <%=h @predespatchtc.s_spec %>
</p>

<p>
  <b>S obs:</b>
  <%=h @predespatchtc.s_obs %>
</p>

<p>
  <b>P spec:</b>
  <%=h @predespatchtc.p_spec %>
</p>

<p>
  <b>P obs:</b>
  <%=h @predespatchtc.p_obs %>
</p>

<p>
  <b>Si spec:</b>
  <%=h @predespatchtc.si_spec %>
</p>

<p>
  <b>Si obs:</b>
  <%=h @predespatchtc.si_obs %>
</p>

<p>
  <b>Al spec:</b>
  <%=h @predespatchtc.al_spec %>
</p>

<p>
  <b>Al obs:</b>
  <%=h @predespatchtc.al_obs %>
</p>

<p>
  <b>Ni spec:</b>
  <%=h @predespatchtc.ni_spec %>
</p>

<p>
  <b>Ni obs:</b>
  <%=h @predespatchtc.ni_obs %>
</p>

<p>
  <b>Cr spec:</b>
  <%=h @predespatchtc.cr_spec %>
</p>

<p>
  <b>Cr obs:</b>
  <%=h @predespatchtc.cr_obs %>
</p>

<p>
  <b>Ys spec:</b>
  <%=h @predespatchtc.ys_spec %>
</p>

<p>
  <b>Ys obs:</b>
  <%=h @predespatchtc.ys_obs %>
</p>

<p>
  <b>Ts obs:</b>
  <%=h @predespatchtc.ts_obs %>
</p>

<p>
  <b>Ts spec:</b>
  <%=h @predespatchtc.ts_spec %>
</p>

<p>
  <b>El spec:</b>
  <%=h @predespatchtc.el_spec %>
</p>

<p>
  <b>El obs:</b>
  <%=h @predespatchtc.el_obs %>
</p>

<p>
  <b>Gl hardness spec:</b>
  <%=h @predespatchtc.gl_hardness_spec %>
</p>

<p>
  <b>El hardness obs:</b>
  <%=h @predespatchtc.el_hardness_obs %>
</p>

<p>
  <b>Od spec:</b>
  <%=h @predespatchtc.od_spec %>
</p>

<p>
  <b>Od obs:</b>
  <%=h @predespatchtc.od_obs %>
</p>

<p>
  <b>Id spec:</b>
  <%=h @predespatchtc.id_spec %>
</p>

<p>
  <b>Id obs:</b>
  <%=h @predespatchtc.id_obs %>
</p>

<p>
  <b>Thick spec:</b>
  <%=h @predespatchtc.thick_spec %>
</p>

<p>
  <b>Thick obs:</b>
  <%=h @predespatchtc.thick_obs %>
</p>

<p>
  <b>Length spec:</b>
  <%=h @predespatchtc.length_spec %>
</p>

<p>
  <b>Length obs:</b>
  <%=h @predespatchtc.length_obs %>
</p>

<p>
  <b>Scratch mark:</b>
  <%=h @predespatchtc.scratch_mark %>
</p>

<p>
  <b>Roll pick up:</b>
  <%=h @predespatchtc.roll_pick_up %>
</p>

<p>
  <b>Pits dents:</b>
  <%=h @predespatchtc.pits_dents %>
</p>

<p>
  <b>Bend:</b>
  <%=h @predespatchtc.bend %>
</p>

<p>
  <b>Corner radius:</b>
  <%=h @predespatchtc.corner_radius %>
</p>

<p>
  <b>Squareness:</b>
  <%=h @predespatchtc.squareness %>
</p>

<p>
  <b>Twist:</b>
  <%=h @predespatchtc.twist %>
</p>

<p>
  <b>Flaring spec:</b>
  <%=h @predespatchtc.flaring_spec %>
</p>

<p>
  <b>Flaring obs:</b>
  <%=h @predespatchtc.flaring_obs %>
</p>

<p>
  <b>Flattening obs:</b>
  <%=h @predespatchtc.flattening_obs %>
</p>

<p>
  <b>Flattening spec:</b>
  <%=h @predespatchtc.flattening_spec %>
</p>

<p>
  <b>Bending spec:</b>
  <%=h @predespatchtc.bending_spec %>
</p>

<p>
  <b>Bending obs:</b>
  <%=h @predespatchtc.bending_obs %>
</p>

<p>
  <b>Crushing spec:</b>
  <%=h @predespatchtc.crushing_spec %>
</p>

<p>
  <b>Crushing obs:</b>
  <%=h @predespatchtc.crushing_obs %>
</p>

<p>
  <b>Uncoiler report:</b>
  <%=h @predespatchtc.uncoiler_report_id %>
</p>

<p>
  <b>Slittingproduction:</b>
  <%=h @predespatchtc.slittingproduction_id %>
</p>

<p>
  <b>Inspected by:</b>
  <%=h @predespatchtc.inspected_by %>
</p>

<p>
  <b>Approved by:</b>
  <%=h @predespatchtc.approved_by %>
</p>

<p>
  <b>Tube mill performance report:</b>
  <%=h @predespatchtc.tube_mill_performance_report_id %>
</p>


<%= link_to 'Edit', edit_predespatchtc_path(@predespatchtc) %> |
<%= link_to 'Back', predespatchtcs_path %>
