<%= render :partial=>'layouts/customer_leftside_bar' %>
<div id="center-column">
  <div class="gridDiv">
    <div class="titleHead">Specification</div>
    <div class="formOrder">
      <% form_for(@specification) do |f| %>
        <%= f.error_messages %>
      <table>
        <tr>
          <td><label>Specification</label></td>
          <td><%= f.text_field :specification_name %></td>
          <td><label>Grade</label></td>
          <td><%= f.text_field :grade %></td>          
        </tr>
      </table>
      <table cellpadding="5" >
        <tr><th colspan="6">Chemical Composition</th></tr>
        <tr>
          <td><label>% C</label></td>
          <td><%= f.text_field :per_c ,:size => "8"%></td>
          <td><label>% Mn</label></td>
          <td><%= f.text_field :per_mn ,:size => "8"%></td>
          <td><label>% S</label></td>
          <td><%= f.text_field :per_s ,:size => "8"%></td>
          <td><label>% P</label></td>
          <td><%= f.text_field :per_p,:size => "8" %></td>           
        </tr>
        <tr>
          <td><label>% Si</label></td>
          <td><%= f.text_field :per_si,:size => "8" %></td>  
          <td><label>% Al</label></td>
          <td><%= f.text_field :per_al,:size => "8" %></td>  
          <td><label>% Ni</label></td>
          <td><%= f.text_field :per_ni,:size => "8" %></td>  
          <td><label>% Cr</label></td>
          <td><%= f.text_field :per_cr ,:size => "8"%></td>            
        </tr>
      </table>
      <table cellpadding="5" >
        <tr><th colspan="6">Mechanical Properties</th></tr>
        <tr>
          <td><label>Y.S.</label></td>
          <td><%= f.text_field :ys,:size => "8" %></td>  
          <td><label>T.S.</label></td>
          <td><%= f.text_field :ts,:size => "8" %></td>  
          <td><label>% El</label></td>
          <td><%= f.text_field :el,:size => "8" %></td>  
          <td><label>Hardness</label></td>
          <td><%= f.text_field :hardness ,:size => "8"%></td>           
        </tr>
      </table>
      <table cellpadding="5" >
        <tr><th colspan="6">Dimensional Observation(mm)</th></tr>
        <tr>
          <td><label>OD/Width (+/-)</label></td>
          <td><%= f.text_field :od_width,:size => "8" %></td>  
          <td><label>ID/Height (+/-)</label></td>
          <td><%= f.text_field :id_height,:size => "8" %></td>  
          <td><label>Thickness (+/-) %</label></td>
          <td><%= f.text_field :thick,:size => "8" %></td>  
          <td><label>Length</label></td>
          <td><%= f.text_field :length ,:size => "8"%></td>           
        </tr>
      </table> 
      <table cellpadding="5" >
        <tr><th colspan="6">Destructive Testing</th></tr>
        <tr>
          <td><label>Flaring %</label></td>
          <td><%= f.text_field :flaring,:size => "8" %></td>  
          <td><label>Flattening</label></td>
          <td><%= f.text_field :flattening,:size => "8" %></td>  
          <td><label>Bending</label></td>
          <td><%= f.text_field :bending,:size => "8" %></td>  
          <td><label>Crushing</label></td>
          <td><%= f.text_field :crushing ,:size => "8"%></td>           
        </tr>
      </table> 
      <table cellpadding="5" >
        <tr><th colspan="6">Visual Parameters</th></tr>
        <tr>
          <td><label>Bend</label></td>
          <td><%= f.text_field :bend,:size => "15" %></td>  
          <td><label>Corner Radius</label></td>
          <td><%= f.text_field :corner_radius,:size => "15" %></td>  
          <td><label>Squareness</label></td>
          <td><%= f.text_field :squareness,:size => "15" %></td>  
          <td><label>Twist</label></td>
          <td><%= f.text_field :twist ,:size => "15"%></td>           
        </tr>
      </table>         
        <br class="clear"/>
        <div class="txtC" id="submit_div">
          <%= f.submit "Update" , :class=>'button submit_buttons'%>
          <%=link_to 'Cancel',specifications_path,{ :class=>'button submit_buttons cancelbutton' }%>
        </div>      
      <%end%>
    </div>
  </div>
</div>