<h1>Listing specifications</h1>

<table>
  <tr>
    <th>Specification name</th>
    <th>Grade</th>
    <th>Per c</th>
    <th>Per mn</th>
    <th>Per s</th>
    <th>Per p</th>
    <th>Per si</th>
    <th>Per al</th>
    <th>Per ni</th>
    <th>Per cr</th>
    <th>Ys</th>
    <th>Ts</th>
    <th>El</th>
    <th>Hardness</th>
    <th>Od width</th>
    <th>Id height</th>
    <th>Thick</th>
    <th>Length</th>
    <th>Flaring</th>
    <th>Flattening</th>
    <th>Bending</th>
    <th>Crushing</th>
    <th>Bend</th>
    <th>Corner radius</th>
    <th>Squareness</th>
    <th>Twist</th>
  </tr>

<% for specification in @specifications %>
  <tr>
    <td><%=h specification.specification_name %></td>
    <td><%=h specification.grade %></td>
    <td><%=h specification.per_c %></td>
    <td><%=h specification.per_mn %></td>
    <td><%=h specification.per_s %></td>
    <td><%=h specification.per_p %></td>
    <td><%=h specification.per_si %></td>
    <td><%=h specification.per_al %></td>
    <td><%=h specification.per_ni %></td>
    <td><%=h specification.per_cr %></td>
    <td><%=h specification.ys %></td>
    <td><%=h specification.ts %></td>
    <td><%=h specification.el %></td>
    <td><%=h specification.hardness %></td>
    <td><%=h specification.od_width %></td>
    <td><%=h specification.id_height %></td>
    <td><%=h specification.thick %></td>
    <td><%=h specification.length %></td>
    <td><%=h specification.flaring %></td>
    <td><%=h specification.flattening %></td>
    <td><%=h specification.bending %></td>
    <td><%=h specification.crushing %></td>
    <td><%=h specification.bend %></td>
    <td><%=h specification.corner_radius %></td>
    <td><%=h specification.squareness %></td>
    <td><%=h specification.twist %></td>
    <td><%= link_to 'Show', specification %></td>
    <td><%= link_to 'Edit', edit_specification_path(specification) %></td>
    <td><%= link_to 'Destroy', specification, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New specification', new_specification_path %>
