<%= render :partial=>'layouts/customer_leftside_bar' %>
<div id="center-column">
  <div class="top-bar">
    <%= link_to 'New', new_specification_path,:class=>"button" %>
    <h1>Specifications</h1>
  </div><br />
  <div class="table">
    <%= image_tag '/images/bg-th-left.gif',:height=>"7", :width=>"8",:alt=>"",:title=>"",:class=>"left" %>
    <%= image_tag '/images/bg-th-right.gif',:height=>"7", :width=>"7",:alt=>"",:title=>"",:class=>"right" %>
    <table class="listing" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <th>Specification name</th>
        <th>Grade</th>
        <th>Hardness</th>
        <th>Od width</th>
        <th>Id height</th>
        <th>Thick</th>
        <th>Length</th>
        <th>Action</th>
      </tr>
      <% for specification in @specifications %>
        <tr>
          <td><%=h specification.specification_name %></td>
          <td><%=h specification.grade %></td>
          <td><%=h specification.hardness %></td>
          <td><%=h specification.od_width %></td>
          <td><%=h specification.id_height %></td>
          <td><%=h specification.thick %></td>
          <td><%=h specification.length %></td>
          <td>
            <%=  link_to(image_tag('/images/livia_portal/icon_edit.gif',{:alt =>"Edit", :title=>"Edit", :border => 0, :hspace => "0"}),  edit_specification_path(specification))%>
            <%=  link_to(image_tag('/images/livia_portal/icon_reject_1.gif',{:alt =>"DeActivate", :title=>"DeActivate",:border => 0, :hspace => "2"}),specification, :confirm => 'Are you sure?', :method => :delete) %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <br />
</div>
