<p>
  <b>Specification name:</b>
  <%=h @specification.specification_name %>
</p>

<p>
  <b>Grade:</b>
  <%=h @specification.grade %>
</p>

<p>
  <b>Per c:</b>
  <%=h @specification.per_c %>
</p>

<p>
  <b>Per mn:</b>
  <%=h @specification.per_mn %>
</p>

<p>
  <b>Per s:</b>
  <%=h @specification.per_s %>
</p>

<p>
  <b>Per p:</b>
  <%=h @specification.per_p %>
</p>

<p>
  <b>Per si:</b>
  <%=h @specification.per_si %>
</p>

<p>
  <b>Per al:</b>
  <%=h @specification.per_al %>
</p>

<p>
  <b>Per ni:</b>
  <%=h @specification.per_ni %>
</p>

<p>
  <b>Per cr:</b>
  <%=h @specification.per_cr %>
</p>

<p>
  <b>Ys:</b>
  <%=h @specification.ys %>
</p>

<p>
  <b>Ts:</b>
  <%=h @specification.ts %>
</p>

<p>
  <b>El:</b>
  <%=h @specification.el %>
</p>

<p>
  <b>Hardness:</b>
  <%=h @specification.hardness %>
</p>

<p>
  <b>Od width:</b>
  <%=h @specification.od_width %>
</p>

<p>
  <b>Id height:</b>
  <%=h @specification.id_height %>
</p>

<p>
  <b>Thick:</b>
  <%=h @specification.thick %>
</p>

<p>
  <b>Length:</b>
  <%=h @specification.length %>
</p>

<p>
  <b>Flaring:</b>
  <%=h @specification.flaring %>
</p>

<p>
  <b>Flattening:</b>
  <%=h @specification.flattening %>
</p>

<p>
  <b>Bending:</b>
  <%=h @specification.bending %>
</p>

<p>
  <b>Crushing:</b>
  <%=h @specification.crushing %>
</p>

<p>
  <b>Bend:</b>
  <%=h @specification.bend %>
</p>

<p>
  <b>Corner radius:</b>
  <%=h @specification.corner_radius %>
</p>

<p>
  <b>Squareness:</b>
  <%=h @specification.squareness %>
</p>

<p>
  <b>Twist:</b>
  <%=h @specification.twist %>
</p>


<%= link_to 'Edit', edit_specification_path(@specification) %> |
<%= link_to 'Back', specifications_path %>
