<%= render :partial=>'layouts/centric_left_bar' %>
<div id="center-column">
<h1>Editing centricsteel</h1>

<% form_for(@centricsteel) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_area :address %>
  </p>
  <p>
    <%= f.label :street %><br />
    <%= f.text_field :street %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </p>
  <p>
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </p>
  <p>
    <%= f.label :phone1 %><br />
    <%= f.text_field :phone1 %>
  </p>
  <p>
    <%= f.label :phone2 %><br />
    <%= f.text_field :phone2 %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :excise_registration_no %><br />
    <%= f.text_field :excise_registration_no %>
  </p>
  <p>
    <%= f.label :vat_tin %><br />
    <%= f.text_field :vat_tin %>
  </p>
  <p>
    <%= f.label :cst %><br />
    <%= f.text_field :cst %>
  </p>
  <p>
    <%= f.label :pan_no %><br />
    <%= f.text_field :pan_no %>
  </p>
  <p>
    <%= f.label :ecc_no %><br />
    <%= f.text_field :ecc_no %>
  </p>
  <p>
    <%= f.label :ifc %><br />
    <%= f.text_field :ifc %>
  </p>
  <p>
    <%= f.label :dgft_code %><br />
    <%= f.text_field :dgft_code %>
  </p>
  <p>
    <%= f.label :range %><br />
    <%= f.text_area :range %>
  </p>
  <p>
    <%= f.label :division %><br />
    <%= f.text_field :division %>
  </p>
  <p>
    <%= f.label :collectorate %><br />
    <%= f.text_field :collectorate %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @centricsteel %> |
<%= link_to 'Back', centricsteels_path %>
</div>