<%= render :partial=>'layouts/centric_left_bar' %>
<div id="center-column">
  <div class="gridDiv">
    <div class="titleHead">Centricsteel</div>
    <div class="formMain">
<% form_for(@centricsteel) do |f| %>
  <%= f.error_messages %>
<table cellpadding="0" cellspacing="0" width="100%">
  <tr><td>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
</p></td>
<td>
  <p>
    <%= f.label :dgft_code %>
    <%= f.text_field :dgft_code %>
  </p></td><td>
  <p>
    <%= f.label :range %>
    <%= f.text_area :range  ,:rows => 3, :cols => 15%>
  </p></td><td>
  <p>
    <%= f.label :division %>
    <%= f.text_field :division %>
  </p></td>
</tr><tr>
  
 <td>
  <p>
    <%= f.label :cst %>
    <%= f.text_field :cst %>
  </p></td><td>
  <p>
    <%= f.label :pan_no %>
    <%= f.text_field :pan_no %>
  </p></td><td>
  <p>
    <%= f.label :ecc_no %>
    <%= f.text_field :ecc_no %>
  </p></td><td>
  <p>
    <%= f.label :ifc %>
    <%= f.text_field :ifc %>
</p></td>
  </tr><tr>
    <td>
  <p>
    <%= f.label :vat_tin %>
    <%= f.text_field :vat_tin %>
</p></td>
    <td>
  <p>
    <%= f.label :collectorate %>
    <%= f.text_field :collectorate %>
</p></td>
    <td>
  <p>
    <%= f.label :excise_registration_no %>
    <%= f.text_field :excise_registration_no %>
  </p></td>
  <td>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p></td>
  </tr><tr>
  <td>
  <p>
    <%= f.label :phone1 %>
    <%= f.text_field :phone1 %>
  </p></td>
  <td>
  <p>
    <%= f.label :phone2 %>
    <%= f.text_field :phone2 %>
  </p></td>
   <td>
  <p>
    <%= f.label :address %>
    <%= f.text_area :address  ,:rows => 3, :cols => 15%>
</p></td><td>
  <p>
    <%= f.label :street %>
    <%= f.text_field :street %>
</p></td>
 </tr><tr>
  
  <td>
  <p>
    <%= f.label :city %>
    <%= f.text_field :city %>
</p></td><td>
  <p>
    <%= f.label :state %>
    <%= f.text_field :state %>
</p></td>
<td>
  <p>
    <%= f.label :country %>
    <%= f.text_field :country %>
  </p></td>
  <td>
  <p>
    <%= f.label :zip %>
    <%= f.text_field :zip %>
  </p></td>
  </tr>
  <tr><td colspan="4">
  <p>
    <div class="txtC" id="submit_div">
            <%= f.submit "Create" , :class=>'button submit_buttons'%>
            <%=link_to 'Cancel',centricsteels_path, :class=>'button submit_buttons cancelbutton' %>
    </div>
</p></td></tr></table>
<% end %>
</div></div></div>