<p>
  <b>Name:</b>
  <%=h @centricsteel.name %>
</p>

<p>
  <b>Address:</b>
  <%=h @centricsteel.address %>
</p>

<p>
  <b>Street:</b>
  <%=h @centricsteel.street %>
</p>

<p>
  <b>City:</b>
  <%=h @centricsteel.city %>
</p>

<p>
  <b>State:</b>
  <%=h @centricsteel.state %>
</p>

<p>
  <b>Zip:</b>
  <%=h @centricsteel.zip %>
</p>

<p>
  <b>Country:</b>
  <%=h @centricsteel.country %>
</p>

<p>
  <b>Phone1:</b>
  <%=h @centricsteel.phone1 %>
</p>

<p>
  <b>Phone2:</b>
  <%=h @centricsteel.phone2 %>
</p>

<p>
  <b>Email:</b>
  <%=h @centricsteel.email %>
</p>

<p>
  <b>Excise registration no:</b>
  <%=h @centricsteel.excise_registration_no %>
</p>

<p>
  <b>Vat tin:</b>
  <%=h @centricsteel.vat_tin %>
</p>

<p>
  <b>Cst:</b>
  <%=h @centricsteel.cst %>
</p>

<p>
  <b>Pan no:</b>
  <%=h @centricsteel.pan_no %>
</p>

<p>
  <b>Ecc no:</b>
  <%=h @centricsteel.ecc_no %>
</p>

<p>
  <b>Ifc:</b>
  <%=h @centricsteel.ifc %>
</p>

<p>
  <b>Dgft code:</b>
  <%=h @centricsteel.dgft_code %>
</p>

<p>
  <b>Range:</b>
  <%=h @centricsteel.range %>
</p>

<p>
  <b>Division:</b>
  <%=h @centricsteel.division %>
</p>

<p>
  <b>Collectorate:</b>
  <%=h @centricsteel.collectorate %>
</p>


<%= link_to 'Edit', edit_centricsteel_path(@centricsteel) %> |
<%= link_to 'Back', centricsteels_path %>