<%= render :partial=>'layouts/delivery' %>
<div id="center-column">
<div class="top-bar">
  <%= link_to 'New', new_deliverychallan_path,:class=>"button" %>
  <h1>Listing deliverychallans</h1>
</div><br />
<div class="table">
  <%= image_tag '/images/bg-th-left.gif',:height=>"7", :width=>"8",:alt=>"",:title=>"",:class=>"left" %>
  <%= image_tag '/images/bg-th-right.gif',:height=>"7", :width=>"7",:alt=>"",:title=>"",:class=>"right" %>
  <table class="listing" cellpadding="0" cellspacing="0" width="100%">
  <tr>
     <th>Customer name</th>
    <th>Delivery challan no</th>
    <th>Date</th>
    <th>Vehicle no</th>
    <th>Od</th>
    <th>Length</th>
    <th>Thickness</th>
    <th>Quantity pcs</th>
    <th>Quantity mtrs</th>
    <!--<th>Remark</th>
    <th>Vat tin</th>
    <th>Cst tin</th>
    <th>From</th>
    <th>To</th>-->
    <th>Action</th>
  </tr>

<% for deliverychallan in @deliverychallans %>
  <tr class="<%=cycle("bg1", "bg2")%>">
     <td><%#=h deliverychallan.customer_order.customer.name %></td>
    <td><%=h deliverychallan.delivery_challan_no %></td>
    <td><%=h deliverychallan.date %></td>
    <td><%=h deliverychallan.vehicle_no %></td>
    <td><%=h deliverychallan.od %></td>
    <td><%=h deliverychallan.length %></td>
    <td><%=h deliverychallan.thickness %></td>
    <td><%=h deliverychallan.quantity_pcs %></td>
    <td><%=h deliverychallan.quantity_mtrs %></td>
   <!-- <td><%#=h deliverychallan.remark %></td>
    <td><%#=h deliverychallan.vat_tin %></td>
    <td><%#=h deliverychallan.cst_tin %></td>
    <td><%#=h deliverychallan.from %></td>
    <td><%#=h deliverychallan.to %></td>-->
    <td>
     <div class="fr" style="float:left;">
          <%=  link_to(image_tag('/images/livia_portal/icon_edit.gif',{:alt =>"Edit", :title=>"Edit", :border => 0, :hspace => "0"}),  edit_deliverychallan_path(deliverychallan) )%>
          <%=  link_to(image_tag('/images/livia_portal/icon_reject_1.gif',{:alt =>"DeActivate", :title=>"DeActivate", :confirm => 'Are you sure?',:border => 0, :hspace => "2"}),deliverychallan, :confirm => 'Are you sure?', :method => :delete ) %>
        </div>
</td>
  </tr>
<% end %>
</table>
</div>
<br />
</div>

