<h1>New deliverychallan</h1>

<% form_for(@deliverychallan) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :delivery_challan_no %><br />
    <%= f.text_field :delivery_challan_no %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </p>
  <p>
    <%= f.label :vehicle_no %><br />
    <%= f.text_field :vehicle_no %>
  </p>
  <p>
    <%= f.label :od %><br />
    <%= f.text_field :od %>
  </p>
  <p>
    <%= f.label :length %><br />
    <%= f.text_field :length %>
  </p>
  <p>
    <%= f.label :thickness %><br />
    <%= f.text_field :thickness %>
  </p>
  <p>
    <%= f.label :quantity_pcs %><br />
    <%= f.text_field :quantity_pcs %>
  </p>
  <p>
    <%= f.label :quantity_mtrs %><br />
    <%= f.text_field :quantity_mtrs %>
  </p>
  <p>
    <%= f.label :remark %><br />
    <%= f.text_field :remark %>
  </p>
  <p>
    <%= f.label :vat_tin %><br />
    <%= f.text_field :vat_tin %>
  </p>
  <p>
    <%= f.label :cst_tin %><br />
    <%= f.text_field :cst_tin %>
  </p>
  <p>
    <%= f.label :from %><br />
    <%= f.text_field :from %>
  </p>
  <p>
    <%= f.label :to %><br />
    <%= f.text_field :to %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', deliverychallans_path %>
