<%= render :partial=>'layouts/delivery' %>
<div id="center-column">
  <div class="gridDiv">
    <div class="titleHead">New deliverychallan</div>
    <div class="formMain">

      <% form_for(@deliverychallan) do |f| %>
        <%= f.error_messages %>
        <div>
          <!--BOX 1-->
          <div class="mt5">
          </div>
          <div class="fl w48" style="width: 52%;" >
            <div>
              <p>
                <%= f.label "Customer" %>
                <%= f.collection_select(:customer_id, Customer.all, :id, :name, {:include_blank => 'Please select'},{:onchange => "customer_po(this.value);"})%>
              </p>
              <p><%= f.label :delivery_challan_no %>
                <%= f.text_field :delivery_challan_no,:size => 15 %></p>
              <p><%= f.label :vehicle_no %>
                <%= f.text_field :vehicle_no,:size => 15 %></p>
              <p><%= f.label :remark %>
                <%= f.text_field :remark,:size => 15 %></p>
              <p><%= f.label :from %>
                <%= f.text_field :from,:size => 15 %></p>
              <p><%= f.label :to %>
                <%= f.text_field :to,:size => 15 %></p>
              <p><%= f.label :date %>
                <%= f.date_select :date%></p>
              <p>
              <div id="detail"></div></p>
            </div>
          </div>
          <br class="clear"/>
          <div class="txtC" id="submit_div">
            <%= f.submit "Create" , :class=>'button submit_buttons'%>
            <%=link_to 'Cancel',deliverychallans_path, :class=>'button submit_buttons cancelbutton' %>
          </div>
          <br class="clear"/>
        </div>
      <% end %>
    </div>
  </div>
</div>
