<p>
  <b>Delivery challan no:</b>
  <%=h @deliverychallan.delivery_challan_no %>
</p>

<p>
  <b>Date:</b>
  <%=h @deliverychallan.date %>
</p>

<p>
  <b>Vehicle no:</b>
  <%=h @deliverychallan.vehicle_no %>
</p>

<p>
  <b>Od:</b>
  <%=h @deliverychallan.od %>
</p>

<p>
  <b>Length:</b>
  <%=h @deliverychallan.length %>
</p>

<p>
  <b>Thickness:</b>
  <%=h @deliverychallan.thickness %>
</p>

<p>
  <b>Quantity pcs:</b>
  <%=h @deliverychallan.quantity_pcs %>
</p>

<p>
  <b>Quantity mtrs:</b>
  <%=h @deliverychallan.quantity_mtrs %>
</p>

<p>
  <b>Remark:</b>
  <%=h @deliverychallan.remark %>
</p>

<p>
  <b>Vat tin:</b>
  <%=h @deliverychallan.vat_tin %>
</p>

<p>
  <b>Cst tin:</b>
  <%=h @deliverychallan.cst_tin %>
</p>

<p>
  <b>From:</b>
  <%=h @deliverychallan.from %>
</p>

<p>
  <b>To:</b>
  <%=h @deliverychallan.to %>
</p>


<%= link_to 'Edit', edit_deliverychallan_path(@deliverychallan) %> |
<%= link_to 'Back', deliverychallans_path %>
