<div class="gridDiv">
  <div class="titleHead">New rawmaterial</div>
  <div class="formMain">
    <% form_for(@rawmaterial) do |f| %>
      <%= f.error_messages %>
      <div>
        <!--BOX 1-->
        <div class="mt5">
        </div>
        <div class="fl w48" style="width: 48%;" >
          <div>
            <p>
              <%= f.label :name %>
              <%= f.text_field :name %>
            </p>
            <p>
              <%= f.label :grade %>
              <%= f.text_field :grade %>
            </p>
            <p>
              <%= f.label :width %>
              <%= f.text_field :width %>
            </p>
            <p>
              <%= f.label :thickness %>
              <%= f.text_field :thickness %>
            </p>
          </div></div>
        <div class="fl w48" style="width: 48%;" >
          <div>
            <p>
              <%= f.label :coil_weight %>
              <%= f.text_field :coil_weight %>
            </p>
            <p>
              <%= f.label :grade %>
              <%= f.text_field :grade %>
            </p>
            <p>
              <%= f.label :type %>
              <%= f.text_field :type %>
            </p>
            <p>
              <%= f.label "Rawmaterial" %>

              <%=f.collection_select( :rawmaterial_category_id, RawmaterialCategory.all,:id,:name,{:include_blank => "----------Select----------"})%>
            </p>
          </div></div>
        <br class="clear"/>
        <div class="txtC" id="submit_div">
          <%= f.submit "Create" , :class=>'button submit_buttons'%>
          <%=link_to 'Cancel',rawmaterials_path, :class=>'button submit_buttons cancelbutton' %>
        </div>
        <br class="clear"/>
      </div>
    <% end %>
  </div></div>
