<p>
  <b>Name:</b>
  <%=h @rawmaterial.name %>
</p>
<p>
  <b>Rawmaterial category:</b>
  <%=h @rawmaterial.rawmaterial_category.name %>
</p>
<p>
  <b>Grade:</b>
  <%=h @rawmaterial.rawmaterial_category.grade %>
</p>

<p>
  <b>Width:</b>
  <%=h @rawmaterial.width %>
</p>

<p>
  <b>Thickness:</b>
  <%=h @rawmaterial.thickness %>
</p>

<p>
  <b>Coil weight:</b>
  <%=h @rawmaterial.coil_weight %>
</p>




<%= link_to 'Edit', edit_rawmaterial_path(@rawmaterial) %> |
<%= link_to 'Back', rawmaterials_path %>
