<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Delivery Challan Report</title>
</head>
<style type="text/css">
	@media print {
		input#btnPrint {
		display: none;
		}
	}
</style>

<body><table width="500px;" border="1">
  <tr>
    <td colspan="2" width="50%" style="font-size:16px"><b>CENTRIC STEEL LIMITED<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;T- 24, MIDC, <br/>
    Taloja(Dsit :- Raigad) - 410208</b>
    </td>
    <td colspan="2" width="50%">
      <%= image_tag '/images/logo.png',:height=>"55", :width=>"210",:alt=>"",:title=>"" %>
    </td>
  </tr><tr>
    <td align="center" style="font-size:14px" colspan="4">DELIVERY CHALLAN</td>
  </tr>
  <tr>
    <td colspan="2" style="font-weight:bolder;font-size:13px">From:-</td>
    <td colspan="2" style="font-weight:bolder;font-size:13px">To:-</td>
  </tr>
  <tr>
    <td colspan="2"><%=@address.name_and_adress_of_buyor%></td>
    <td colspan="2"><%=@address.name_and_adress_of_consignee%></td>
  </tr>
  <tr>
    <td>Delevery Challan No:-</td>    
    <td><%=@delivery.delivery_challan_no%></td>
    <td >Date:-</td>
    <td>give the date</td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
    <td >Vehicle No:-</td>
    <td><%=@delivery.vehicle_no%></td>
  </tr>
  <tr>
    <td colspan="4">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="4">
<table width="500" border="1">
  <tr>
    <th scope="col">S.No.</th>
    <th scope="col">OD<br/>(mm)</th>
    <th scope="col">Thick.<br/>(mm)</th>
    <th scope="col">Length.<br/>(Mtrs)</th>
    <th scope="col">Qty.<br/>(Pcs.)</th>
    <th scope="col">Qty.<br/>(Mtrs)</th>
    <th scope="col">Remarks</th>
  </tr>
  <%i=1%>
  <%for item in @delivery_all%>
  <tr>
    <td><%=i%></td>
    <td><%=item.od%></td>
    <td><%=item.thickness%></td>
    <td><%=item.length%></td>
    <td><%=item.quantity_pcs%></td>
    <td><%=item.quantity_mtrs%></td>
    <td><%=item.remark if item.remark%></td>
     <% i += 1 %>
  </tr>
  <%end%>
</table>

    </td>
  </tr>
   <tr>
    <td colspan="4">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="4" align="center">VAT TIN :- (<%=@delivery.vat_tin if @delivery.vat_tin%>) w.e.f <%=@delivery.created_at.to_date%></td>
  </tr>   
  <tr>
    <td colspan="4" align="center">CST TIN :- (<%=@delivery.cst_tin if @delivery.cst_tin%>) w.e.f  <%=@delivery.created_at.to_date%></td>
  </tr>  
  <tr>
    <td colspan="2">&nbsp;</td>
    <td colspan="2">
    <table width="100%" border="1">
  <tr>
    <td><b>For CENTRIC STEEL LIMITED</b></td>
  </tr>
  <tr>
    <td style="height:40px;">&nbsp;</td>
  </tr>
  <tr>
    <td align="center">Authorised Signatory</td>
  </tr>
</table>

    </td>
  </tr> 
</table>
<input type="button" id="btnPrint" onclick="window.print();" value="Print Page" />
</body>
</html>
