<div class="rightCol">
  <div class="gridDiv">
    <div class="titleHead">Report for Rawmaterial</div>
    <div class="formMain2">
      <%form_for "report", :url => {:action => :raw_report_rpt,:format => 'html'}  ,:html => {:onsubmit => 'return validate_date()'} do |f| %>
        <!--FORM REPORT-->
        <div class="gridTable">
          <table width="100%" align="center" cellpadding="0" cellspacing="0" class="" cellpading="0">
            <tbody>
              <tr>
                <td align="left" valign="top" style="padding:0 0 0 5px;"><table width="105%" border="0" cellpadding="3" cellspacing="0" class="grayBox" style="font-size:100%;">
                    <tr>
                      <td width="16%" align="left">
                        <%=select("report","status",[["-Stock","0"],["Slitt WIP","1"],["Tube Mill WIP","2"]],{},{:style => "width:100px"})%>
                      </td>
                      <td align="left" style="width:100px;"><%=select("report","status",[["All",""],["Last 3 Months","3months"],["Last 6 Months","6months"],["Last 9 Months","9months"],["Last 12 Months","12months"],["Date range","5"]],{:selected=>@parameters[:duration]},{:onClick=>"db_date_change();",:style => "width:130px"})%></td>
                    <% if @parameters[:duration] == "5"
                       style="display:block"
                    else
                    style="display:none"
                    end %>
                    <td style=<%=style%> id="date_div">
                      <table width="100%" id="" style="font-size:100%"  cellpadding="0" cellspacing="0">
                        <tr>
                          <td><div style="display:none;"><input type="checkbox" name="date_checked" id="date_checked" value="1">
                            </div>
                          </td>
                          <td style="width:60px;" align="right">Start Date&nbsp;</td>
                          <td style="width:120px;" align="left"><input type="text" id="parameters_0" name="parameters['From-Date']"  readonly="true" class="dateTextBox" value="<%=@parameters["'From-Date'"]%>"></td>
                          <td style="width:60px;" align="right">End Date&nbsp;</td>
                          <td style="width:120px;" align="left"> <input type="text" id="parameters_1" name="parameters['To-Date']"  readonly="true" class="dateTextBox" value="<%=@parameters["'To-Date'"]%>"></td>
                        </tr>
                      </table>
                    </td>
                    </tr>
                    <tr>
                      <td>
                         <input class="button" type="submit" value="Run Report" name="commit"/>
                      </td>
                    </tr>

                  </table></td>
              </tr>
              <tr>
                <td colspan="7" align="right">&nbsp;</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--FORM REPORT-->
        <br class="clear"/>
      <%end%>
    </div>
  </div>
</div>
<!--RIGHT DIV ENDS-->