<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Slitting Report</title>
<style>
.xl00 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Arial;
	vertical-align:bottom;
	white-space:nowrap;
}
.xl01 {
	padding:0px 2px;
	color:windowtext;
	font-size:14.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Bookman Old Style;
	vertical-align:middle;
	border-top:1.5pt solid windowtext;
	border-bottom:1.5pt solid windowtext;
	border-left:1.5pt solid windowtext;
}
.xl02 {
	padding:0px 2px;
	color:windowtext;
	font-size:14.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Bookman Old Style;
	vertical-align:middle;
	border-top:1.5pt solid windowtext;
	border-bottom:1.5pt solid windowtext;
}
.xl03 {
	padding:0px 2px;
	color:windowtext;
	font-size:14.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Bookman Old Style;
	vertical-align:middle;
	border-top:1.5pt solid windowtext;
	border-right:1.5pt solid windowtext;
	border-bottom:1.5pt solid windowtext;
}
.xl04 {
	padding:0px 2px;
	color:windowtext;
	font-size:9.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Bookman Old Style;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.5pt solid windowtext;
	white-space:nowrap;
}
.xl05 {
	padding:0px 2px;
	color:windowtext;
	font-size:9.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Bookman Old Style;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl06 {
	padding:0px 2px;
	color:windowtext;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl07 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Arial;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl08 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Bookman Old Style;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl09 {
	padding:0px 2px;
	color:White;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Bookman Old Style;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.5pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl10 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Arial;
	text-align:center;
	vertical-align:middle;
	border-right:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl11 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Bookman Old Style;
	vertical-align:middle;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl12 {
	padding:0px 2px;
	color:windowtext;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl13 {
	padding:0px 2px;
	color:White;
	font-size:14.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
}
.xl14 {
	padding:0px 2px;
	color:windowtext;
	font-size:9.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Bookman Old Style;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-left:1.5pt solid windowtext;
	white-space:nowrap;
}
.xl15 {
	padding:0px 2px;
	color:windowtext;
	font-size:9.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Bookman Old Style;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl16 {
	padding:0px 2px;
	color:windowtext;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl17 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Bookman Old Style;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl18 {
	padding:0px 2px;
	color:windowtext;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl19 {
	padding:0px 2px;
	color:White;
	font-size:14.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:middle;
	border-right:1.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
}
.xl20 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Arial;
	text-align:center;
	vertical-align:bottom;
	border-top:1.5pt solid windowtext;
	border-bottom:1.5pt solid windowtext;
	border-left:1.5pt solid windowtext;
	white-space:nowrap;
}
.xl21 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Arial;
	text-align:center;
	vertical-align:bottom;
	border-top:1.5pt solid windowtext;
	border-bottom:1.5pt solid windowtext;
	white-space:nowrap;
}
.xl22 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Arial;
	text-align:center;
	vertical-align:bottom;
	border-top:1.5pt solid windowtext;
	border-right:1.5pt solid windowtext;
	border-bottom:1.5pt solid windowtext;
	white-space:nowrap;
}
.xl23 {
	padding:0px 2px;
	color:windowtext;
	font-size:8.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Bookman Old Style;
	vertical-align:middle;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.5pt solid windowtext;
}
.xl24 {
	padding:0px 2px;
	color:windowtext;
	font-size:8.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Bookman Old Style;
	vertical-align:middle;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
}
.xl25 {
	padding:0px 2px;
	color:windowtext;
	font-size:8.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:middle;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
}
.xl26 {
	padding:0px 2px;
	color:windowtext;
	font-size:8.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:middle;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
}
.xl27 {
	padding:0px 2px;
	color:windowtext;
	font-size:8.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Bookman Old Style;
	vertical-align:middle;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
}
.xl28 {
	padding:0px 2px;
	color:windowtext;
	font-size:8.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Bookman Old Style;
	vertical-align:middle;
	border-right:1.5pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
}
.xl29 {
	padding:0px 2px;
	color:windowtext;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Bookman Old Style;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.5pt solid windowtext;
	white-space:nowrap;
}
.xl30 {
	padding:0px 2px;
	color:windowtext;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Bookman Old Style;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl31 {
	padding:0px 2px;
	color:windowtext;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Bookman Old Style;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl32 {
	padding:0px 2px;
	color:windowtext;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Bookman Old Style;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl33 {
	padding:0px 2px;
	color:windowtext;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl34 {
	padding:0px 2px;
	color:windowtext;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl35 {
	padding:0px 2px;
	color:windowtext;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl36 {
	padding:0px 2px;
	color:windowtext;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:1.5pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl37 {
	padding:0px 2px;
	color:windowtext;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl38 {
	padding:0px 2px;
	color:windowtext;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:1.5pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl39 {
	padding:0px 2px;
	color:windowtext;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Bookman Old Style;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.5pt solid windowtext;
	border-left:1.5pt solid windowtext;
	white-space:nowrap;
}
.xl40 {
	padding:0px 2px;
	color:windowtext;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Bookman Old Style;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl41 {
	padding:0px 2px;
	color:windowtext;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Bookman Old Style;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl42 {
	padding:0px 2px;
	color:windowtext;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Bookman Old Style;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl43 {
	padding:0px 2px;
	color:windowtext;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-bottom:1.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl44 {
	padding:0px 2px;
	color:windowtext;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.5pt solid windowtext;
	white-space:nowrap;
}
.xl45 {
	padding:0px 2px;
	color:windowtext;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl46 {
	padding:0px 2px;
	color:windowtext;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:1.5pt solid windowtext;
	border-bottom:1.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl47 {
	padding:0px 2px;
	color:windowtext;
	font-size:14.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Arial;
	vertical-align:bottom;
	border-top:1.5pt solid windowtext;
	border-bottom:1.5pt solid windowtext;
	border-left:1.5pt solid windowtext;
	white-space:nowrap;
}
.xl48 {
	padding:0px 2px;
	color:windowtext;
	font-size:14.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Arial;
	vertical-align:bottom;
	border-top:1.5pt solid windowtext;
	border-bottom:1.5pt solid windowtext;
	white-space:nowrap;
}
.xl49 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Arial;
	vertical-align:bottom;
	border-top:1.5pt solid windowtext;
	border-bottom:1.5pt solid windowtext;
	white-space:nowrap;
}
.xl50 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Arial;
	vertical-align:bottom;
	border-top:1.5pt solid windowtext;
	border-right:1.5pt solid windowtext;
	border-bottom:1.5pt solid windowtext;
	white-space:nowrap;
}
.xl51 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Arial;
	text-align:center;
	vertical-align:bottom;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl52 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Arial;
	text-align:center;
	vertical-align:bottom;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl53 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Arial;
	text-align:center;
	vertical-align:bottom;
	border-right:1.0pt solid windowtext;
	border-left:1.5pt solid windowtext;
	white-space:nowrap;
}
.xl54 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Arial;
	text-align:center;
	vertical-align:bottom;
	border-right:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl55 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Arial;
	text-align:center;
	vertical-align:bottom;
	border-right:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl56 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Arial;
	text-align:center;
	vertical-align:bottom;
	border-left:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl57 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Arial;
	text-align:center;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl58 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Arial;
	text-align:center;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl59 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Arial;
	text-align:center;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl60 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Arial;
	text-align:center;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl61 {
	padding:0px 2px;
	color:windowtext;
	font-size:14.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:underline;
	font-family:Arial;
	vertical-align:bottom;
	border-top:1.5pt solid windowtext;
	border-bottom:1.5pt solid windowtext;
	border-left:1.5pt solid windowtext;
	white-space:nowrap;
}
.xl62 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Arial;
	vertical-align:bottom;
	border-top:1.5pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.5pt solid windowtext;
	white-space:nowrap;
}
.xl63 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Arial;
	vertical-align:bottom;
	white-space:nowrap;
}
.xl64 {
	padding:0px 2px;
	color:windowtext;
	font-size:14.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:underline;
	font-family:Arial;
	vertical-align:bottom;
	white-space:nowrap;
}
.xl65 {
	padding:0px 2px;
	color:windowtext;
	font-size:14.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Arial;
	vertical-align:bottom;
	white-space:nowrap;
}
.xl66 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:middle;
	border-top:1.5pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.5pt solid windowtext;
	border-left:1.5pt solid windowtext;
	background-color:#99CC00;
}
.xl67 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:middle;
	border-top:1.5pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#99CC00;
}
.xl68 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:middle;
	border-top:1.5pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#339966;
}
.xl69 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:middle;
	border-top:1.5pt solid windowtext;
	border-bottom:1.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#3366FF;
}
.xl70 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:middle;
	border-top:1.5pt solid windowtext;
	border-right:1.5pt solid windowtext;
	border-bottom:1.5pt solid windowtext;
	border-left:1.5pt solid windowtext;
	background-color:#3366FF;
}
.xl71 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Arial;
	text-align:center;
	vertical-align:bottom;
	white-space:nowrap;
}
.xl72 {
	padding:0px 2px;
	color:windowtext;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Arial;
	text-align:center;
	vertical-align:bottom;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#CC99FF;
	white-space:nowrap;
}
.xl73 {
	padding:0px 2px;
	color:windowtext;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:middle;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#CC99FF;
	white-space:nowrap;
}
.xl74 {
	padding:0px 2px;
	color:windowtext;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:middle;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#CC99FF;
	white-space:nowrap;
}
.xl75 {
	padding:0px 2px;
	color:windowtext;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:middle;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#CC99FF;
	white-space:nowrap;
}
.xl76 {
	padding:0px 2px;
	color:windowtext;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:middle;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#CC99FF;
	white-space:nowrap;
}
.xl77 {
	padding:0px 2px;
	color:windowtext;
	font-size:9.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:middle;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#CC99FF;
	white-space:nowrap;
}
.xl78 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Arial;
	text-align:center;
	vertical-align:bottom;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#CC99FF;
	white-space:nowrap;
}
.xl79 {
	padding:0px 2px;
	color:windowtext;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Arial;
	text-align:center;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#99CCFF;
	white-space:nowrap;
}
.xl80 {
	padding:0px 2px;
	color:windowtext;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#99CCFF;
	white-space:nowrap;
}
.xl81 {
	padding:0px 2px;
	color:windowtext;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#99CCFF;
	white-space:nowrap;
}
.xl82 {
	padding:0px 2px;
	color:windowtext;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#99CCFF;
	white-space:nowrap;
}
.xl83 {
	padding:0px 2px;
	color:windowtext;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#99CCFF;
	white-space:nowrap;
}
.xl84 {
	padding:0px 2px;
	color:windowtext;
	font-size:9.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#99CCFF;
	white-space:nowrap;
}
.xl85 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Arial;
	text-align:center;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#99CCFF;
	white-space:nowrap;
}
.xl86 {
	padding:0px 2px;
	color:windowtext;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Arial;
	text-align:center;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#99CCFF;
	white-space:nowrap;
}
.xl87 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Arial;
	text-align:center;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#99CCFF;
	white-space:nowrap;
}
.xl88 {
	padding:0px 2px;
	color:windowtext;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Arial;
	text-align:center;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#CCFFFF;
	white-space:nowrap;
}
.xl89 {
	padding:0px 2px;
	color:windowtext;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#CCFFFF;
	white-space:nowrap;
}
.xl90 {
	padding:0px 2px;
	color:windowtext;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#CCFFFF;
	white-space:nowrap;
}
.xl91 {
	padding:0px 2px;
	color:windowtext;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#CCFFFF;
	white-space:nowrap;
}
.xl92 {
	padding:0px 2px;
	color:windowtext;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#CCFFFF;
	white-space:nowrap;
}
.xl93 {
	padding:0px 2px;
	color:windowtext;
	font-size:9.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#CCFFFF;
	white-space:nowrap;
}
.xl94 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Arial;
	text-align:center;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#CCFFFF;
	white-space:nowrap;
}
.xl95 {
	padding:0px 2px;
	color:windowtext;
	font-size:14.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Arial;
	vertical-align:bottom;
	border-top:1.5pt solid windowtext;
	border-bottom:1.5pt solid windowtext;
	border-left:1.5pt solid windowtext;
	white-space:nowrap;
}
.xl96 {
	padding:0px 2px;
	color:windowtext;
	font-size:14.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Arial;
	vertical-align:bottom;
	border-top:1.5pt solid windowtext;
	border-bottom:1.5pt solid windowtext;
	white-space:nowrap;
}
.xl97 {
	padding:0px 2px;
	color:windowtext;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Arial;
	vertical-align:bottom;
	border-top:1.5pt solid windowtext;
	border-bottom:1.5pt solid windowtext;
	white-space:nowrap;
}
.xl98 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:middle;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
}
.xl99 {
	padding:0px 2px;
	color:#993300;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:middle;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#99CC00;
}
.xl100 {
	padding:0px 2px;
	color:windowtext;
	font-size:8.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:middle;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#FF9900;
}
.xl101 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:middle;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
}
.xl102 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:middle;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
}
.xl103 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
}
.xl104 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Tahoma;
	text-align:right;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
}
.xl105 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Tahoma;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
}
.xl106 {
	padding:0px 2px;
	color:#993300;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Tahoma;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#99CC00;
}
.xl107 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Tahoma;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#FF9900;
}
.xl108 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Tahoma;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
}
.xl109 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Bookman Old Style;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
}
.xl110 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Bookman Old Style;
	vertical-align:middle;
}
.xl111 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Arial;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl112 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Tahoma;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl113 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Tahoma;
	text-align:right;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl114 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Tahoma;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl115 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Tahoma;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl116 {
	padding:0px 2px;
	color:windowtext;
	font-size:8.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Tahoma;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#99CC00;
	white-space:nowrap;
}
.xl117 {
	padding:0px 2px;
	color:windowtext;
	font-size:8.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Tahoma;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#99CC00;
	white-space:nowrap;
}
.xl118 {
	padding:0px 2px;
	color:windowtext;
	font-size:8.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Tahoma;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#FF9900;
	white-space:nowrap;
}
.xl119 {
	padding:0px 2px;
	color:windowtext;
	font-size:8.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Tahoma;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#FF9900;
	white-space:nowrap;
}
.xl120 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Tahoma;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl121 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Tahoma;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl122 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Tahoma;
	vertical-align:top;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl123 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Tahoma;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl124 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Tahoma;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl125 {
	padding:0px 2px;
	color:windowtext;
	font-size:14.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:underline;
	font-family:Arial;
	vertical-align:bottom;
	border-bottom:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl126 {
	padding:0px 2px;
	color:windowtext;
	font-size:14.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Arial;
	vertical-align:bottom;
	border-bottom:1.0pt solid windowtext;
	white-space:nowrap;
}
.xl127 {
	padding:0px 2px;
	color:windowtext;
	font-size:14.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:underline;
	font-family:Arial;
	vertical-align:bottom;
	border-top:1.5pt solid windowtext;
	border-left:1.5pt solid windowtext;
	white-space:nowrap;
}
.xl128 {
	padding:0px 2px;
	color:windowtext;
	font-size:14.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Arial;
	vertical-align:bottom;
	border-top:1.5pt solid windowtext;
	white-space:nowrap;
}
.xl129 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Arial;
	vertical-align:bottom;
	border-top:1.5pt solid windowtext;
	white-space:nowrap;
}
.xl130 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Arial;
	vertical-align:bottom;
	border-top:1.5pt solid windowtext;
	border-right:1.5pt solid windowtext;
	white-space:nowrap;
}
.xl131 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:middle;
	border-right:1.0pt solid windowtext;
	border-bottom:1.5pt solid windowtext;
	border-left:1.5pt solid windowtext;
	background-color:#99CC00;
}
.xl132 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:middle;
	border-right:1.0pt solid windowtext;
	border-bottom:1.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#99CC00;
}
.xl133 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:middle;
	border-bottom:1.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#99CC00;
}
.xl134 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:middle;
	border-bottom:1.5pt solid windowtext;
	background-color:#99CC00;
}
.xl135 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:middle;
	border-right:1.0pt solid windowtext;
	border-bottom:1.5pt solid windowtext;
	background-color:#99CC00;
}
.xl136 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:middle;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#FF99CC;
}
.xl137 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Arial;
	vertical-align:bottom;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#FF99CC;
	white-space:nowrap;
}
.xl138 {
	padding:0px 2px;
	color:windowtext;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Arial;
	vertical-align:bottom;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#CC99FF;
	white-space:nowrap;
}
.xl139 {
	padding:0px 2px;
	color:windowtext;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:middle;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#FF99CC;
	white-space:nowrap;
}
.xl140 {
	padding:0px 2px;
	color:windowtext;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:middle;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#FF99CC;
	white-space:nowrap;
}
.xl141 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Arial;
	text-align:center;
	vertical-align:bottom;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#FF99CC;
	white-space:nowrap;
}
.xl142 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Arial;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#FF99CC;
	white-space:nowrap;
}
.xl143 {
	padding:0px 2px;
	color:windowtext;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Arial;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#99CCFF;
	white-space:nowrap;
}
.xl144 {
	padding:0px 2px;
	color:windowtext;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#FF99CC;
	white-space:nowrap;
}
.xl145 {
	padding:0px 2px;
	color:windowtext;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#FF99CC;
	white-space:nowrap;
}
.xl146 {
	padding:0px 2px;
	color:windowtext;
	font-size:9.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Bookman Old Style;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#FF99CC;
	white-space:nowrap;
}
.xl147 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Arial;
	text-align:center;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#FF99CC;
	white-space:nowrap;
}
.xl148 {
	padding:0px 2px;
	color:windowtext;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Arial;
	text-align:center;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#FF99CC;
	white-space:nowrap;
}
.xl149 {
	padding:0px 2px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Arial;
	text-align:center;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background-color:#FF99CC;
	white-space:nowrap;
}
</style>
</head>
<body>
<div style='padding:5px;'>
<table border=0 cellpadding=1 cellspacing=0 style='table-layout:auto;'>
<col width=101 style='width:70pt'>
<col class=xl15 width=56 style='width:39pt'>
<col class=xl15 width=56 style='width:39pt'>
<col class=xl15 width=56 style='width:39pt'>
<col class=xl15 width=56 style='width:39pt'>
<col class=xl15 width=56 style='width:39pt'>
<col class=xl15 width=56 style='width:39pt'>
<col class=xl15 width=56 style='width:39pt'>
<col class=xl15 width=56 style='width:39pt'>
<col class=xl15 width=56 style='width:39pt'>
<col class=xl15 width=56 style='width:39pt'>
<col class=xl15 width=56 style='width:39pt'>
<col class=xl15 width=56 style='width:39pt'>
<col class=xl15 width=56 style='width:39pt'>
<col class=xl15 width=56 style='width:39pt'>
<col class=xl15 width=56 style='width:39pt'>
<col class=xl15 width=56 style='width:39pt'>
<col class=xl15 width=56 style='width:39pt'>
<col class=xl15 width=56 style='width:39pt'>
<col class=xl15 width=56 style='width:39pt'>
<col class=xl15 width=56 style='width:39pt'>
<col class=xl15 width=56 style='width:39pt'>
<col class=xl15 width=56 style='width:39pt'>
<col class=xl15 width=56 style='width:39pt'>
<tr height=27 style='height:18.8pt'>
<td class=xl01 colspan=8 rowspan=1 style='border-right:1.5pt solid windowtext; border-bottom:1.5pt solid windowtext;'>Slitting Plan</td>
</tr>
<tr height=22 style='height:15.0pt'>
<td class=xl04 colspan=2 rowspan=1 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid windowtext;'>Coil No. :-</td>
<td class=xl06 colspan=2 rowspan=1 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid windowtext;'><%=@slitting_value[0].rawmaterial.name%></td>
<td class=xl07 colspan=1 rowspan=3>&nbsp;</td>
<td class=xl08>Side Trim</td>
<td class=xl06>&nbsp;</td>
<td class=xl09>&nbsp;</td>

</tr>
<tr height=22 style='height:15.0pt'>
<td class=xl04 colspan=2 rowspan=1 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid windowtext;'>Coil Width :-</td>
<td class=xl06 colspan=2 rowspan=1 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid windowtext;'><%=@slitting_value[0].rawmaterial.width%></td>
<td class=xl11>Thick.</td>
<td class=xl12><%=@slitting_value[0].rawmaterial.thickness if @slitting_value[0].rawmaterial.thickness%></td>
<td class=xl13 colspan=1 rowspan=2>&nbsp;</td>
</tr>
<tr height=23 style='height:15.8pt'>
<td class=xl14 colspan=2 rowspan=1>Coil Wt.:- </td>
<td class=xl16 colspan=2 rowspan=1><%=@slitting_value[0].rawmaterial.coil_weight if @slitting_value[0].rawmaterial.coil_weight%></td>
<td class=xl17>Scrap </td>
<td class=xl18><%=@scrap[0]%></td>
</tr>
<tr height=20 style='height:13.5pt'>
<td class=xl20 colspan=8 rowspan=1 style='border-right:1.5pt solid windowtext; border-bottom:1.5pt solid windowtext;'>&nbsp;</td>
</tr>
<tr height=33 style='height:22.5pt'>
<td class=xl23>Sr. No.</td>
<td class=xl24>Slit Width</td>
<td class=xl24>Slit Wt.</td>
<td class=xl24>No. of Slits</td>
<td class=xl25 colspan=2 rowspan=1 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid windowtext;'>Wt.</td>
<td class=xl27 colspan=2 rowspan=1 style='border-right:1.5pt solid windowtext; border-bottom:1.0pt solid windowtext;'>Remarks</td>
</tr>
<%i=1%>
<%@slitting_value.each do |obj|%>
<tr height=23 style='height:15.8pt'>
<td class=xl29><%=i%></td>
<td class=xl30><%=obj.slit_width if obj.slit_width%></td>
<td class=xl31><%=obj.slit_weight if obj.slit_weight%></td>
<td class=xl32><%=obj.no_of_slits if obj.no_of_slits%></td>
<td class=xl33 colspan=2 rowspan=1 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid windowtext;'><%=obj.total_weight if obj.total_weight%></td>
<td class=xl35 colspan=2 rowspan=1 style='border-right:1.5pt solid windowtext; border-bottom:1.0pt solid windowtext;'>&nbsp;</td>
<%i = i+1%>
</tr>
<%end%>
</table>
</div>
</body>
</html>

