<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>TAX-INVOICE PRINTING</title>
<style type="text/css">
	@media print {
		input#btnPrint {
		display: none;
		}
	}
</style>
<%=stylesheet_link_tag "taxinvoice.css"%>
</head>
<body>
  <input type="button" id="btnPrint" onclick="window.print();" value="Print Page" />
<div style='padding:5px;'>
<table border=0 cellpadding=1 cellspacing=0 style='border-collapse:collapse; table-layout:auto;'>
<col width=6 style='width:4pt'>
<col width=28 style='width:19pt'>
<col width=30 style='width:21pt'>
<col width=16 style='width:11pt'>
<col width=38 style='width:26pt'>
<col width=49 style='width:34pt'>
<col width=36 style='width:25pt'>
<col width=10 style='width:7pt'>
<col width=43 style='width:30pt'>
<col width=38 style='width:26pt'>
<col width=56 style='width:39pt'>
<col width=10 style='width:7pt'>
<col width=5 style='width:3pt'>
<col width=32 style='width:22pt'>
<col width=47 style='width:32pt'>
<col width=4 style='width:2pt'>
<col width=5 style='width:3pt'>
<col width=33 style='width:23pt'>
<col width=35 style='width:24pt'>
<col width=56 style='width:39pt'>
<col width=43 style='width:30pt'>
<col width=71 style='width:49pt'>
<col width=5 style='width:3pt'>
<tr height=6 >
<td class=xl57 colspan=23 rowspan=1 >&nbsp;</td>
</tr>
<tr height=28 style='height:19.5pt'>
<td class=xl57 colspan=1 rowspan=52 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid windowtext;'></td>
<td class=xl151 colspan=11 rowspan=1>TAX INVOICE      </td>
<td class=xl154 colspan=1 rowspan=17>&nbsp;</td>
<td class=xl155 colspan=9 rowspan=2>ORIGINAL                                                                                          For BUYER</td>
<td class=xl158 colspan=1 rowspan=53 style='border-right:1.5pt solid windowtext; border-bottom:1.5pt solid windowtext;'>&nbsp;</td>
</tr>
<tr height=12 style='height:8.3pt'>
<td class=xl159 colspan=11 rowspan=2> Invoice for removal of Excisable goods from Factory or Warehouse on payment of duty (Rule 11 of Central Excise Cenvat Rules - 2002)</td>
</tr>
<tr height=15 style='height:10.5pt'>
<td class=xl167 colspan=9 rowspan=3 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid windowtext;'>For - Centric Steel Limited                            ________________________________________________________________________________________      Authorised Signatory</td>
</tr>
<tr height=13 style='height:9.0pt'>
<td class=xl170 colspan=11 rowspan=1>Name & Address of Licencee :- </td>
</tr>
<tr height=44 style='height:30.8pt'>
<td class=xl176 colspan=4 rowspan=3 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid windowtext;'>&nbsp;</td>
<td class=xl178 colspan=7 rowspan=3>Centric Steel Limited                                                                 T - 24, MIDC,                                                                             Taloja ( Dist:- Raigad) -  410-208</td>
</tr>
<tr height=13 style='height:9.0pt'>
<td class=xl187 colspan=9 rowspan=1 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid #969696;'>Range:- Office of the Assistant Commissioner of Central Excise </td>
</tr>
<tr height=14 style='height:9.8pt'>
<td class=xl193 colspan=9 rowspan=1 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid #969696;'>Range :- Taloja - VI</td>
</tr>
<tr height=17 style='height:11.3pt'>
<td class=xl195 colspan=11 rowspan=1>Name of Excisable Goods :-  MS ERW STEEL TUBES</td>
<td class=xl193 colspan=9 rowspan=1 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid #969696;'>Commissionorate :- Belapur C.G.O. Complex,CBD Belapur,Navi Mumbai.</td>
</tr>
<tr height=18 style='height:12.0pt'>
<td class=xl198 colspan=11 rowspan=1>Chapter Heading / Sub Heading No:-     73069011</td>
<td class=xl201 colspan=9 rowspan=1 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid #969696;'>ECC No.:- AABCB3566CXM001</td>
</tr>
<tr height=15 style='height:10.5pt'>
<td class=xl203 colspan=11 rowspan=1>PAN No:- </td>
<td class=xl193 colspan=9 rowspan=1 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid #969696;'>Notification no. :- 006/2010 dtd. 27.02.2010</td>
</tr>
<tr height=34 style='height:23.3pt'>
<td class=xl206 colspan=2 rowspan=3>Name & Address of Buyor :- </td>
<td class=xl208 colspan=9 rowspan=3><%=@tax_invoice[0].name_and_adress_of_buyor%></td>
<td class=xl211 colspan=7 rowspan=1 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid #969696;'>Date of preparation of Invoice:-</td>
<td class=xl214 colspan=2 rowspan=1 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid #969696;'><%=@tax_invoice[0].date_of_preparation_invoice.to_date%></td>
</tr>
<tr height=27 style='height:18.8pt'>
<td class=xl221 colspan=7 rowspan=1 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid #969696;'>Time of Invoice:-</td>
<td class=xl214 colspan=2 rowspan=1 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid #969696;'>20.20 Hrs.</td>
</tr>
<tr height=50 style='height:34.5pt'>
<td class=xl221 colspan=4 rowspan=1 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid #969696;'>In Words :-</td>
<td class=xl226 colspan=5 rowspan=1 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid #969696;'><%=@tax_invoice[0].in_words if @tax_invoice[0].in_words%></td>
</tr>
<tr height=19 style='height:12.8pt'>
<td class=xl229 colspan=2 rowspan=1 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid #969696;'>ECC No. </td>
<td class=xl231 colspan=9 rowspan=1>-</td>
<td class=xl233 colspan=4 rowspan=1 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid #969696;'>PO No.</td>
<td class=xl235 colspan=3 rowspan=1 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid #969696;'>-</td>
<td class=xl236>Date :-</td>
<td class=xl237>-</td>
</tr>
<tr height=33 style='height:22.5pt'>
<td class=xl216 colspan=2 rowspan=3>Name & Address of Consignee :- </td>
<td class=xl238 colspan=9 rowspan=3><%=@tax_invoice[0].name_and_adress_of_consignee%></td>
<td class=xl233 colspan=4 rowspan=1 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid #969696;'>Invoice No.:- </td>
<td class=xl241 colspan=3 rowspan=1 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid #969696;'><%=@tax_invoice[0].invoice_no%></td>
<td class=xl236>Date :-</td>
<td class=xl242><%=@tax_invoice[0].date_invoice_no.to_date%></td>
</tr>
<tr height=33 style='height:22.5pt'>
<td class=xl233 colspan=4 rowspan=1 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid #969696;'>Challan No.:-</td>
<td class=xl241 colspan=3 rowspan=1 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid #969696;'><%=@tax_invoice[0].challan_no if @tax_invoice[0].challan_no%></td>
<td class=xl236>Date :-</td>
<td class=xl242><%=@tax_invoice[0].date_challan_no.to_date%></td>
</tr>
<tr height=43 style='height:30.0pt'>
<td class=xl252 colspan=4 rowspan=1>Vehicle No:- </td>
<td class=xl254 colspan=3 rowspan=1 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid windowtext;'><%=@tax_invoice[0].vehicle_no if @tax_invoice[0].vehicle_no%></td>
<td class=xl257>L.R. No.:- </td>
<td class=xl258>-</td>
</tr>
<tr height=5 style='height:3.0pt'>
<td class=xl259 colspan=21 rowspan=1 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid windowtext;'>&nbsp;</td>
</tr>
<tr height=20 style='height:13.5pt'>
<td class=xl261 colspan=1 rowspan=3 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid windowtext;'>S.  No. </td>
<td class=xl262 colspan=4 rowspan=1 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid windowtext;'>Variety of Goods (Size)</td>
<td class=xl263 colspan=2 rowspan=3 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid windowtext;'>No. & Discription of Packets</td>
<td class=xl263 colspan=1 rowspan=3 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid windowtext;'>Average Content per Pack.</td>
<td class=xl264 colspan=2 rowspan=1 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid windowtext;'>Total Qty.</td>
<td class=xl265 colspan=4 rowspan=1 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid windowtext;'>Selling Rate</td>
<td class=xl263 colspan=3 rowspan=3 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid windowtext;'>Total Assessable Tariff Value</td>
<td class=xl266 colspan=1 rowspan=3 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid windowtext;'>Rate of Duty %</td>
<td class=xl266 colspan=1 rowspan=3 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid windowtext;'>Total Duty Payable  Rs.</td>
<td class=xl267 colspan=2 rowspan=3 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid windowtext;'>Amount                Rs.</td>
</tr>
<tr height=17 style='height:11.3pt'>
<td class=xl270 colspan=2 rowspan=1 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid windowtext;'>OD</td>
<td class=xl270>Thick.</td>
<td class=xl270>Length </td>
<td class=xl272 colspan=1 rowspan=2 style='border-right:1.0pt solid Gray; border-bottom:1.0pt solid windowtext;'>Pcs.</td>
<td class=xl272 colspan=1 rowspan=2 style='border-right:1.0pt solid Gray; border-bottom:1.0pt solid windowtext;'>Mtrs.</td>
<td class=xl273 colspan=3 rowspan=2 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid windowtext;'>Rs./ Pcs.</td>
<td class=xl273 colspan=1 rowspan=2 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid windowtext;'>Rs./ Mtrs.</td>
</tr>
<tr height=19 style='height:12.8pt'>
<td class=xl278 colspan=2 rowspan=1 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid windowtext;'>MM</td>
<td class=xl278>MM</td>
<td class=xl278>Mtrs.</td>
</tr>
<%i=1%>
<%@tax_invoice.each do |obj|%>
  <tr height=24 style='height:16.5pt'>
    <td class=xl285><%=i%></td>
    <td class=xl286 colspan=2 rowspan=1 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid #969696;'><%= obj.od if obj.od%></td>
    <td class=xl286><%= obj.thickness if obj.thickness%></td>
    <td class=xl287><%= obj.length if obj.length%></td>
    <td class=xl288 colspan=2 rowspan=1 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid #969696;'>&nbsp;</td>
    <td class=xl289>&nbsp;</td>
    <td class=xl290><%= obj.pieces if obj.pieces%></td>
    <td class=xl291><%= obj.meters if obj.meters%></td>
    <td class=xl290 colspan=3 rowspan=1 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid windowtext;'>-</td>
    <td class=xl291><%= obj.rs_mtrs if obj.rs_mtrs%></td>
    <td class=xl292 colspan=3 rowspan=1 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid #969696;'>&nbsp;</td>
    <td class=xl294 colspan=1 rowspan=8 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid windowtext;'><%= obj.rate_of_duty if obj.rate_of_duty%></td>
    <td class=xl295>&nbsp;</td>
    <td class=xl296 colspan=2 rowspan=1 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid #969696;'><%= obj.amount if obj.amount%></td>
  </tr>
  <%i = i+ 1%>
<%end%>

<tr height=24 style='height:16.5pt'>
<td class=xl314 colspan=12 rowspan=1>Payment of Excise Duty Payable under Rule 8 of C.Ex. Rules-2002</td>
<td class=xl316 colspan=7 rowspan=1 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid windowtext;'>TOTAL ( Rs. )</td>
<td class=xl318 colspan=2 rowspan=1 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid windowtext;'><%=@tax_invoice[0].total_all%></td>
</tr>
<tr height=20 style='height:13.5pt'>
<td class=xl320 colspan=4 rowspan=2 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid #969696;'>Excise Duty Payable Rs. :-</td>
<td class=xl322 colspan=8 rowspan=2 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid #969696;'><%=@tax_invoice[0].in_words rescue "-"%></td>
<td class=xl323 colspan=7 rowspan=1 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid #969696;'>Packing  &  Forwarding ( Rs. )</td>
<td class=xl325 colspan=2 rowspan=1 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid #969696;'>-</td>
</tr>
<tr height=25 style='height:17.3pt'>
<td class=xl329 colspan=7 rowspan=1 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid #969696;'>TOTAL  (Rs.)</td>
<td class=xl331 colspan=2 rowspan=1 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid #969696;'><%=@tax_invoice[0].total_all%></td>
</tr>
<tr height=20 style='height:13.5pt'>
<td class=xl327 colspan=4 rowspan=2 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid #969696;'>Ed. Cess Payable (P) Rs. :- </td>
<td class=xl244 colspan=8 rowspan=2 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid #969696;'>Two hundred and seventy four only.</td>
<td class=xl333 colspan=6 rowspan=1 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid #969696;'>C.Excise Duty Payable @.</td>
<td class=xl335> 10 %  Rs.</td>
<td class=xl336 colspan=2 rowspan=1 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid #969696;'>13716</td>
</tr>
<tr height=20 style='height:13.5pt'>
<td class=xl338 colspan=6 rowspan=1 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid #969696;'>(P) Ed. Cess @ </td>
<td class=xl335>  2 %  Rs.</td>
<td class=xl336 colspan=2 rowspan=1 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid #969696;'>274</td>
</tr>
<tr height=20 style='height:13.5pt'>
<td class=xl327 colspan=4 rowspan=2 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid #969696;'>Ed. Cess Payable (SAH) Rs.:- </td>
<td class=xl244 colspan=8 rowspan=2 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid #969696;'>One hundred and thirty seven only.</td>
<td class=xl338 colspan=6 rowspan=1 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid #969696;'>(SAH) Ed. Cess @</td>
<td class=xl335>  1 %  Rs.</td>
<td class=xl336 colspan=2 rowspan=1 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid #969696;'>137</td>
</tr>
<tr height=25 style='height:17.3pt'>
<td class=xl340 colspan=7 rowspan=1 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid #969696;'>TOTAL  (Rs.)</td>
<td class=xl342 colspan=2 rowspan=1 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid #969696;'>151288</td>
</tr>
<tr height=20 style='height:13.5pt'>
<td class=xl327 colspan=4 rowspan=2 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid windowtext;'>Invoice Value Rs. :- </td>
<td class=xl244 colspan=8 rowspan=2 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid windowtext;'>One lac fifty seven thousand three hundred and fourty only.</td>
<td class=xl344 colspan=6 rowspan=1 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid #969696;'>VAT / CST </td>
<td class=xl347>  4 %  Rs.</td>
<td class=xl348 colspan=2 rowspan=1 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid #969696;'>6052</td>
</tr>
<tr height=25 style='height:17.3pt'>
<td class=xl353 colspan=7 rowspan=1 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid windowtext;'>GRAND TOTAL (Rs.) </td>
<td class=xl356 colspan=2 rowspan=1 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid windowtext;'>157340</td>
</tr>
<tr height=7 style='height:4.5pt'>
<td class=xl358 colspan=21 rowspan=1>&nbsp;</td>
</tr>
<tr height=20 style='height:13.5pt'>
<td class=xl361 colspan=2 rowspan=3 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid #969696;'>Sr. No. & Date of Debit Entry of Duty In</td>
<td class=xl363 colspan=6 rowspan=1 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid #969696;'>P.L.A. ENTRY No.:- </td>
<td class=xl364 colspan=3 rowspan=1 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid #969696;'>Dt.</td>
<td class=xl365 colspan=1 rowspan=5 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid #969696;'>&nbsp;</td>
<td class=xl366 colspan=4 rowspan=1 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid #969696;'>VAT TIN NO.- </td>
<td class=xl369 colspan=5 rowspan=1>27860637929 V  w.e.f. 31.12.07</td>
</tr>
<tr height=17 style='height:11.3pt'>
<td class=xl373 colspan=6 rowspan=1 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid #969696;'>R.G. 23A Part-II ENTRY No. :-</td>
<td class=xl374 colspan=3 rowspan=1 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid #969696;'>Dt.</td>
<td class=xl375 colspan=4 rowspan=1 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid #969696;'>CST TIN NO.- </td>
<td class=xl369 colspan=5 rowspan=1>27860637929 C  w.e.f. 31.12.07</td>
</tr>
<tr height=17 style='height:11.3pt'>
<td class=xl373 colspan=6 rowspan=1 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid #969696;'>R.G. 23C Part-II ENTRY No. :-</td>
<td class=xl374 colspan=3 rowspan=1 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid #969696;'>Dt.</td>
<td class=xl378 colspan=4 rowspan=1 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid #969696;'>DECL.No. </td>
<td class=xl381 colspan=2 rowspan=1 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid #969696;'>Date</td>
<td class=xl381 colspan=3 rowspan=1 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid #969696;'>Progressive Total Rs.</td>
</tr>
<tr height=20 style='height:13.5pt'>
<td class=xl383 colspan=5 rowspan=1 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid #969696;'>Date & Time Of Removal of Goods :- </td>
<td class=xl385 colspan=3 rowspan=1 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid #969696;'>19.04.2010</td>
<td class=xl385 colspan=3 rowspan=1 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid #969696;'>22.30 Hrs.</td>
<td class=xl386 colspan=4 rowspan=1 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid #969696;'>&nbsp;</td>
<td class=xl235 colspan=2 rowspan=1 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid #969696;'>&nbsp;</td>
<td class=xl235 colspan=3 rowspan=1 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid #969696;'>&nbsp;</td>
</tr>
<tr height=18 style='height:12.0pt'>
<td class=xl390 colspan=3 rowspan=1 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid #969696;'>In Words :-</td>
<td class=xl235 colspan=8 rowspan=1 style='border-right:1.0pt solid #969696; border-bottom:1.0pt solid #969696;'>Twenty two thirty Hrs.</td>
<td class=xl392 colspan=6 rowspan=2>Party's VAT TIN No. :-         _____ CST TIN No. :- </td>
<td class=xl394 colspan=3 rowspan=1 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid #969696;'>-</td>
</tr>
<tr height=20 style='height:13.5pt'>
<td class=xl396 colspan=12 rowspan=2>certified that theparticulars given above are true and correct and the amount indicated represents the price actually charged and there is no flow of debit entry/ additional consideration directly or indirectly from the buyor. Subjected to Mumbai Jurisdiction.</td>
<td class=xl400 colspan=3 rowspan=1>-</td>
</tr>
<tr height=22 style='height:15.0pt'>
<td class=xl403 colspan=9 rowspan=5 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid windowtext;'>For - CENTRIC STEEL LIMITED ______________________________________________________________________----------_____________________________________________   _(Authorised Signatory)</td>
</tr>
<tr height=23 style='height:15.8pt'>
<td class=xl406 colspan=12 rowspan=2>Terms & Conditions :- Interest will be recovered a 24% p.a. on overdue paid bills. Claim of any nature whatsoever will lapse unless raised in writing 3 days from date of invoice. Goods once sold cannot be returned or exchanged.  We reserve ourselves the right to demand payment of this at any time before due date. Payment are to be made at our office by the payee cheque. Subject to Mumbai Jurisdiction.</td>
</tr>
<tr height=29 style='height:20.3pt'>
</tr>
<tr height=17 style='height:11.3pt'>
<td class=xl412 colspan=10 rowspan=2>"I/we hereby certify that my/our registration certificate under the Maharastra Value Added Tax Act. 2002 is in force on the date on which the sale of the goods specified in this tax invoice is made by me/us and that the transaction of sale covered by this</td>
<td class=xl414 colspan=2 rowspan=2 style='border-right:1.0pt solid windowtext; border-bottom:1.0pt solid windowtext;'>BC</td>
</tr>
<tr height=22 style='height:15.0pt'>
</tr>
<tr >
<td class=xl56 colspan=23 rowspan=1 style='border-right:1.5pt solid windowtext; border-bottom:1.0pt solid windowtext;'></td>
</tr>
</table>
</div>
<input type="button" id="btnPrint" onclick="window.print();" value="Print Page" />
</body>
</html>

