  <script type="text/javascript">
  livia_datepicker();
  </script>
<%= render :partial=>'layouts/reports_left_bar' %>
<div id="center-column">
  <div class="gridDiv">
    <div class="titleHead">Tube Mill Performance Report </div>
    <div class="formMain2">
      <%form_for "report", :url => {:action => :tube_mill_performance_rpt,:format => 'html'} ,:html => {:onsubmit => 'return validate_date()'} do |f| %>
      <div class="gridTable" style="font-size:11px;">
          <table width="100%" align="center" cellpadding="0" cellspacing="0" class="" cellpading="0">
            <tbody>
              <tr>
                <td align="left" valign="top" style="padding:0 0 0 5px;"><table width="96%" border="0" cellpadding="3" cellspacing="0" class="grayBox" style="font-size:100%;">
                    <tr>
                      
                      <td align="left" style="width:100px;"><%=select("report","dates",[["Last 3 Months","3months"],["Last 6 Months","6months"],["Last 9 Months","9months"],["Last 12 Months","12months"],["Date range","5"]],{:selected=>params[:report][:dates]},{:onClick=>"db_date_change();",:style => "width:130px"})%></td>
                      <% if params[:report][:dates] == "5"
                         style="display:block"
                           else
                         style="display:none"
                       end %>
                      <td style=<%=style%> id="date_div">
                          <table width="100%" id="" style="font-size:100%"  cellpadding="0" cellspacing="0">
                            <tr>
                              <td><div style="display:none;"><input type="checkbox" name="date_checked" id="date_checked" value="1">
                                </div>
                              </td>
                              <td style="width:60px;" align="right">Start Date&nbsp;</td>
                              <td  align="left"><input type="text" id="parameters_0" name="start_date" style="width:60px;"  readonly="true" class="dateTextBox date_picker"value=<%=params[:start_date]%> ></td>
                              <td style="width:60px;" align="right">End Date&nbsp;</td>
                              <td  align="left"> <input type="text" id="parameters_1" name="end_date"  style="width:60px;" readonly="true" class="dateTextBox date_picker" value=<%=params[:end_date]%> ></td>
                            </tr>
                          </table>
                        </td>
                      <td width="25%">
                        <input id="com_notes_entries[3]_submit" class="button" style="font-size: 11px;" type="submit" value="Run Report" name="commit"/>
                      </td>
                    </tr>
                  </table></td>
              </tr>
              <tr>
                  <td colspan="7" align="right">
                    <a onclick="print_section('uncoiler_rpt');" style="cursor: pointer; cursor: hand;">
            <%= image_tag '/images/print-icon.png',:height=>"38", :width=>"38",:alt=>"",:title=>"" %>
            </a>
                  </td>
                </tr>
              <tr>
                <td colspan="7" align="right">
                  <table cellpadding="0" cellspacing="0" width="100%" border="1" id="uncoiler_rpt">
                <thead>
                      <th>Date</th>
                      <th>Shift</th>
                      <th>Lot No.</th>
                      <th>Slit Coil No.</th>
                      <th>No. of Tubes</th>
                      <th>Customer</th>
                      <th>Status</th>
                      <th>View Detail</th>
              </thead>
              <tbody>
                <% for tube_mill_performance_report in @tube_mill_performance_reports %>
                  <tr>
                      <td><%=h tube_mill_performance_report.date.strftime('%d-%b-%Y') %></td>
                      <td><%=h tube_mill_performance_report.shift %></td>
                      <td><%=h tube_mill_performance_report.lot_no %></td>
                      <td><%=h tube_mill_performance_report.slittingproduction.slitting_coil_no  if tube_mill_performance_report.slittingproduction %></td>
                      <td><%=h tube_mill_performance_report.no_of_tube %></td>
                      <td><%=h tube_mill_performance_report.customer.name rescue "-" %></td>
                      <td><%=h tube_mill_performance_report.status==1?'Tube WIP':'-' %></td>
                      <td>
                        <%= link_to("Preview", "/reports/tubemill_show?id=#{tube_mill_performance_report.id}") %> 
                      </td>
                    </tr>
                <%end%>
              </tbody>
              </table></td>
              </tr>
            </tbody>
          </table>
        </div>

      <%end%>
    </div>
  </div>
</div><br class="clear"/>

