<%= render :partial=>'layouts/centric_left_bar' %>
<div id="center-column">
  <div class="gridDiv">
    <div class="titleHead">Department</div>
    <div class="formMain">
      <% form_for(@department) do |f| %>
        <%if(@department.errors.length >0)%>
          <div class='errorCont'>
            <%= error_messages_for(:department)%>
            <div class="clear"></div>
          </div>
        <%end%>
        <div id='department_name'>
          <p >
            <%= f.label :department_name%>
            <%= f.text_field :name %>
          
            <%= f.submit "Create" , :class=>'button submit_buttons'%>
          </p>
        </div>
      <% end %>
  </div></div>
</div>