<%= render :partial=>'layouts/supplier_info' %>

<div id="center-column">
<div class="top-bar">
  <%= link_to 'New', new_supplier_path,:class=>"button" %>
  <h1>Supplier TC</h1>
</div><br />
<div class="table">
  <%= image_tag '/images/bg-th-left.gif',:height=>"7", :width=>"8",:alt=>"",:title=>"",:class=>"left" %>
  <%= image_tag '/images/bg-th-right.gif',:height=>"7", :width=>"7",:alt=>"",:title=>"",:class=>"right" %>
  <table class="listing" cellpadding="0" cellspacing="0" width="100%">
  <tr>
   <th>Name</th>
    <th>Address</th>
    <th>Po no</th>
    <th>Sales order no</th>
    <th>Test certificate no</th>
    <th>Date</th>
    <th>Invoice no</th>
    <th>Coil packet no</th>
    <th>T w l</th>
    <th>No of sheets</th>
    <th>Grade</th>
    <th>Net weight</th>
    <th>C</th>
    <th>V</th>
    <th>Mn</th>
    <th>Cu</th>
    <th>S</th>
    <th>Nb</th>
    <th>P</th>
    <th>Cr</th>
    <th>Al</th>
    <th>Ni</th>
    <th>Si</th>
    <th>Ti</th>
    <th>N</th>
    <th>Ys</th>
    <th>U t s</th>
    <th>El on gl</th>
    <th>Hrb</th>
    <th>Vpn</th>
    <th>Ecv</th>
    <th>N value</th>
    <th>R bar</th>
    <th>Bend test</th>
    <th>Bright matt</th>
    <th>Ra</th>
    <th>Do item wise</th>
  </tr>

<% for supplier in @suppliers %>
  <tr class="<%=cycle("bg1", "bg2")%>">
    <td><%=h supplier.name %></td>
    <td><%=h supplier.address %></td>
    <td><%=h supplier.po_no %></td>
    <td><%=h supplier.sales_order_no %></td>
    <td><%=h supplier.test_certificate_no %></td>
    <td><%=h supplier.date %></td>
    <td><%=h supplier.invoice_no %></td>
    <td><%=h supplier.coil_packet_no %></td>
    <td><%=h supplier.t_w_l %></td>
    <td><%=h supplier.no_of_sheets %></td>
    <td><%=h supplier.grade %></td>
    <td><%=h supplier.net_weight %></td>
    <td><%=h supplier.c %></td>
    <td><%=h supplier.v %></td>
    <td><%=h supplier.mn %></td>
    <td><%=h supplier.cu %></td>
    <td><%=h supplier.s %></td>
    <td><%=h supplier.nb %></td>
    <td><%=h supplier.p %></td>
    <td><%=h supplier.cr %></td>
    <td><%=h supplier.al %></td>
    <td><%=h supplier.ni %></td>
    <td><%=h supplier.si %></td>
    <td><%=h supplier.ti %></td>
    <td><%=h supplier.n %></td>
    <td><%=h supplier.ys %></td>
    <td><%=h supplier.u_t_s %></td>
    <td><%=h supplier.el_on_gl %></td>
    <td><%=h supplier.hrb %></td>
    <td><%=h supplier.vpn %></td>
    <td><%=h supplier.ecv %></td>
    <td><%=h supplier.n_value %></td>
    <td><%=h supplier.r_bar %></td>
    <td><%=h supplier.bend_test %></td>
    <td><%=h supplier.bright_matt %></td>
    <td><%=h supplier.ra %></td>
    <td><%=h supplier.do_item_wise %></td>




    <td>
          <%=  link_to(image_tag('/images/livia_portal/icon_edit.gif',{:alt =>"Edit", :title=>"Edit", :border => 0, :hspace => "0"}),  edit_supplier_path(supplier))%>
          <%=  link_to(image_tag('/images/livia_portal/icon_reject_1.gif',{:alt =>"DeActivate", :title=>"DeActivate", :confirm => 'Are you sure?',:border => 0, :hspace => "2"}), supplier, :confirm => 'Are you sure?', :method => :delete) %>
      </td>
  </tr>
<% end %>
</table>
</div>
<br />
</div>



