<p>
  <b>Name:</b>
  <%=h @supplier.name %>
</p>

<p>
  <b>Address:</b>
  <%=h @supplier.address %>
</p>

<p>
  <b>Po no:</b>
  <%=h @supplier.po_no %>
</p>

<p>
  <b>Sales order no:</b>
  <%=h @supplier.sales_order_no %>
</p>

<p>
  <b>Test certificate no:</b>
  <%=h @supplier.test_certificate_no %>
</p>

<p>
  <b>Date:</b>
  <%=h @supplier.date %>
</p>

<p>
  <b>Invoice no:</b>
  <%=h @supplier.invoice_no %>
</p>

<p>
  <b>Coil packet no:</b>
  <%=h @supplier.coil_packet_no %>
</p>

<p>
  <b>T w l:</b>
  <%=h @supplier.t_w_l %>
</p>

<p>
  <b>No of sheets:</b>
  <%=h @supplier.no_of_sheets %>
</p>

<p>
  <b>Grade:</b>
  <%=h @supplier.grade %>
</p>

<p>
  <b>Net weight:</b>
  <%=h @supplier.net_weight %>
</p>

<p>
  <b>C:</b>
  <%=h @supplier.c %>
</p>

<p>
  <b>V:</b>
  <%=h @supplier.v %>
</p>

<p>
  <b>Mn:</b>
  <%=h @supplier.mn %>
</p>

<p>
  <b>Cu:</b>
  <%=h @supplier.cu %>
</p>

<p>
  <b>S:</b>
  <%=h @supplier.s %>
</p>

<p>
  <b>Nb:</b>
  <%=h @supplier.nb %>
</p>

<p>
  <b>P:</b>
  <%=h @supplier.p %>
</p>

<p>
  <b>Cr:</b>
  <%=h @supplier.cr %>
</p>

<p>
  <b>Al:</b>
  <%=h @supplier.al %>
</p>

<p>
  <b>Ni:</b>
  <%=h @supplier.ni %>
</p>

<p>
  <b>Si:</b>
  <%=h @supplier.si %>
</p>

<p>
  <b>Ti:</b>
  <%=h @supplier.ti %>
</p>

<p>
  <b>N:</b>
  <%=h @supplier.n %>
</p>

<p>
  <b>Ys:</b>
  <%=h @supplier.ys %>
</p>

<p>
  <b>U t s:</b>
  <%=h @supplier.u_t_s %>
</p>

<p>
  <b>El on gl:</b>
  <%=h @supplier.el_on_gl %>
</p>

<p>
  <b>Hrb:</b>
  <%=h @supplier.hrb %>
</p>

<p>
  <b>Vpn:</b>
  <%=h @supplier.vpn %>
</p>

<p>
  <b>Ecv:</b>
  <%=h @supplier.ecv %>
</p>

<p>
  <b>N value:</b>
  <%=h @supplier.n_value %>
</p>

<p>
  <b>R bar:</b>
  <%=h @supplier.r_bar %>
</p>

<p>
  <b>Bend test:</b>
  <%=h @supplier.bend_test %>
</p>

<p>
  <b>Bright matt:</b>
  <%=h @supplier.bright_matt %>
</p>

<p>
  <b>Ra:</b>
  <%=h @supplier.ra %>
</p>

<p>
  <b>Do item wise:</b>
  <%=h @supplier.do_item_wise %>
</p>


<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>
