<p>
  <label> Width </label>
  <%= text_field_tag "#{"serialize"}[width]" %>
</p>

<p>
  <label> Height </label>
  <%= text_field_tag "#{"serialize"}[height]" %>
</p>

<p>
  <label> Thickness </label>
  <%= text_field_tag "#{"serialize"}[thikness]" %>
</p>

<p>
  <label> Length </label>
  <%= text_field_tag "#{"serialize"}[length]" %>
</p>

<p>
  <label> OD </label>
  <%= text_field_tag "#{"serialize"}[od]" %>
</p>
