<table>
  <tr>  
    <td><label> Width </label></td>
    <td><%= text_field_tag "#{"serialize"}[width]" %></td>
    <td><label> Height </label></td>
    <td><%= text_field_tag "#{"serialize"}[height]" %></td>
    <td><label> Thickness </label></td>
    <td><%= text_field_tag "#{"serialize"}[thikness]" %></td>
    <td><label> Length </label></td>
    <td><%= text_field_tag "#{"serialize"}[length]" %></td>
    <td><label> OD </label></td>
    <td><%= text_field_tag "#{"serialize"}[od]" %></td>
  </tr>
</table>