<%= render :partial=>'layouts/customer_leftside_bar' %>
<div id="center-column">
<div class="gridDiv">
  <div class="titleHead">Editing serialize</div>
  <div class="formOrder">
    <% form_for(@serialize) do |f| %>
      <%= f.error_messages %>
    <table cellpadding="5" cellspacing="5">
      <tr>
        <td><%= f.label "Customer name"%></td>
        <td><%=f.collection_select(:customer_id, Customer.all,:id,:name,{:include_blank => "---Select---"})%></td>
        <td><%= f.label :specification %></td>
        <td><%=f.collection_select(:specification_id, Specification.all,:id,:specification_name,{:include_blank => "---Select---"})%></td>
        <td>Serial Name/No.</td>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td><label>Annealead/Unannealed</label></td>
        <td><%= f.select("annealed_unannealed", { "ANN" => "ANN", "UAN" => "UAN"}) %></td>
        <td><label>Fin Cut/Non Fincut</label></td>
        <td><%= f.select("fincut_non_fincut", { "F/C" => "F/C", "NFC" => "NFC"}) %></td>
        <td><%= f.label :grade %></td>
        <td><%= f.text_field :grade%></td>
      </tr>
      <tr>
        <td><label>Type</label></td>
        <td><%= select_tag("#{"serialize"}[mat_type]","<option value=''/>--Select--" +options_for_select([ 'E','S','R']),{:onchange => "change_tubesize(this.value);"}) %></td>
      </tr>
      <tr>
        <td colspan="6">
        <div id="detail">
          <table>
            <tr>  
              <td><%= f.label :width %></td>
              <td><%= f.text_field :width ,:size => 10 %></td>
              <td><%= f.label :height %></td>
              <td><%= f.text_field :height ,:size => 10  %></td>
              <td><%= f.label :thikness %></td>
              <td><%= f.text_field :thikness ,:size => 10 %></td>
              <td><%= f.label :length %></td>
              <td><%= f.text_field :length ,:size => 10 %></td>
              <td><%= f.label :od %></td>
              <td><%= f.text_field :od ,:size => 10 %></td>
            </tr>
          </table>          
        </div>
        </td>
      </tr>
      <tr>
        <td><label>End Condition</label></td>
        <td colspan="2"><%= f.text_area :end_condition,:rows=>5,:cols=>30%></td>
        <td><label>Packing Mode</label></td>
        <td colspan="2"><%= f.text_area :packing_mode,:rows=>5,:cols=>30%></td>
      </tr>

    </table>       
       <br class="clear"/>  <div class="txtC" id="submit_div" >
            <%= f.submit "Update" , :class=>'button submit_buttons'%>
            <%=link_to 'Cancel',serializes_path, :class=>'button submit_buttons cancelbutton' %>
          </div>
     
    </div>
  <% end %>
</div>
</div>