<%= render :partial=>'layouts/customer_leftside_bar' %>
<div id="center-column">
<h1>Editing serialize</h1>

<% form_for(@serialize) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :specification %>
    <%#= f.text_area :specification,:rows =>4, :cols => 15 %>
  </p>                 
  <p>
    <%= f.label :grade %>
    <%= f.text_field :grade%>
  </p>                   
        
  <p>
    <%= f.label :od %>
    <%= f.text_field :od %>
  </p>            
  <p>
    <%= f.label :thikness %>
    <%= f.text_field :thikness %>
  </p>            
  <p>
    <%= f.label :length %>
    <%= f.text_field :length %>
  </p>      
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @serialize %> |
<%= link_to 'Back', serializes_path %>
</div>