<%= render :partial=>'layouts/customer_leftside_bar' %>
<div id="center-column">
<div class="top-bar">
  <%= link_to 'New', new_serialize_path,:class=>"button" %>
  <h1>Listing Serializes</h1>
</div><br />
<div class="table">
  <%= image_tag '/images/bg-th-left.gif',:height=>"7", :width=>"8",:alt=>"",:title=>"",:class=>"left" %>
  <%= image_tag '/images/bg-th-right.gif',:height=>"7", :width=>"7",:alt=>"",:title=>"",:class=>"right" %>
  <table class="listing" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <th>Serial</th>
              <th>Customer Name</th>
              <th>Specification</th>              
              <th>Tube Size</th>
               <th>Tube Type</th>
              <th>Action</th>
            </tr>

            <% for serialize in @serializes %>
                        <tr>
                <td><%=h serialize.name %></td>
                 <td><%=h serialize.customer.name %></td>
                 <td><%=h serialize.specification.specification_name if serialize.specification%></td>
                 <%if serialize.mat_type=='R'%>
                 <td><%=h "#{serialize.od}X#{serialize.thikness}X#{serialize.length}"%></td>
                 <%else ((serialize.mat_type=='S')||(serialize.mat_type=='E'))%>
             <td><%=h "#{serialize.width}X#{serialize.height}X#{serialize.thikness}X#{serialize.length}"%></td>

             
  <%end%>
                 <td><%=h serialize.mat_type %></td>
                 <td>
                    <%=  link_to(image_tag('/images/livia_portal/icon_edit.gif',{:alt =>"Edit", :title=>"Edit", :border => 0, :hspace => "0"}),  edit_serialize_path(serialize))%>
                    <%=  link_to(image_tag('/images/livia_portal/icon_reject_1.gif',{:alt =>"DeActivate", :title=>"DeActivate",:border => 0, :hspace => "2"}),serialize, :confirm => 'Are you sure?', :method => :delete) %>
                </td>
              </tr>
            <% end %>
                     </table>
        </div>
<br />
</div>