<h1>Editing customer_order</h1>

<% form_for(@customer_order) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :tube_size %><br />
    <%= f.text_field :tube_size %>
  </p>
  <p>
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </p>
  <p>
    <%= f.label :total_weight %><br />
    <%= f.text_field :total_weight %>
  </p>
  <p>
    <%= f.label :rate_per_kilo %><br />
    <%= f.text_field :rate_per_kilo %>
  </p>
  <p>
    <%= f.label :total_amount %><br />
    <%= f.text_field :total_amount %>
  </p>
  <p>
    <%= f.label :ecc_no %><br />
    <%= f.text_field :ecc_no %>
  </p>
  <p>
    <%= f.label :delivery_address %><br />
    <%= f.text_field :delivery_address %>
  </p>
  <p>
    <%= f.label :po_no %><br />
    <%= f.text_field :po_no %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @customer_order %> |
<%= link_to 'Back', customer_orders_path %>
