<div class="gridDiv">
  <div class="titleHead">New Customer Order</div>
  <div class="formOrder">
    <% form_for(@customer_order) do |f| %>
      <%= f.error_messages %>
      <div>
        <!--BOX 1-->
          <div class="fl3row">
            <label>Customer Name</label><%=f.collection_select(:customer_id, @customers,:id,:name,{:include_blank => "---Select---"},{:onchange => "customerdetail(this.value);"})%>
            <label>E-mail</label><%=text_field_tag "customer_order_email" %>
            <label>VAT No</label><%=text_field_tag "customer_order_vat_no" %>
          </div>
        <br class="clear"/>        
            <table>
              <tr>
                <td><label>Office Address</label></td>
                <td><%= text_area_tag "customer_order_office_address",nil, :cols => 30, :rows => 5 %></td>
                <td><%= f.label :delivery_address %> <%=link_to "Same as Office","#",:onclick => "copyaddress();"%></td>
                <td><%= f.text_area :delivery_address, :cols => 30, :rows => 5 %></td>
              </tr>
              <tr>
                <td><%= f.label :ecc_no %></td>
                <td><%= f.text_field :ecc_no %></td>
                <td><%= f.label :po_no %></td>
                <td><%= f.text_field :po_no %></td>
              </tr>            
            </table>        
        <div id="detail"></div>


        <br class="clear"/>
  <div class="txtC" id="submit_div">

  <%= f.submit "Create" , :class=>'button submit_buttons'%>
    <%=f.submit 'Cancel',{ :class=>'button submit_buttons cancelbutton' }%>
 
      </div>
       <br class="clear"/>
      </div>
      <%#= link_to 'Back', customer_orders_path %>
    <% end %>
  </div>
</div>