<p>
  <b>Customer name:</b>
  <%=h @client.customer_name %>
</p>

<p>
  <b>Od:</b>
  <%=h @client.od %>
</p>

<p>
  <b>Id:</b>
  <%=h @client.id %>
</p>

<p>
  <b>Thickness:</b>
  <%=h @client.thickness %>
</p>

<p>
  <b>Length:</b>
  <%=h @client.length %>
</p>

<p>
  <b>Part number:</b>
  <%=h @client.part_number %>
</p>

<p>
  <b>Is:</b>
  <%=h @client.is %>
</p>

<p>
  <b>Astm:</b>
  <%=h @client.astm %>
</p>

<p>
  <b>Din:</b>
  <%=h @client.din %>
</p>

<p>
  <b>Jis:</b>
  <%=h @client.jis %>
</p>

<p>
  <b>Automotive:</b>
  <%=h @client.automotive %>
</p>

<p>
  <b>Newprogram:</b>
  <%=h @client.newprogram %>
</p>

<p>
  <b>Sop:</b>
  <%=h @client.sop %>
</p>

<p>
  <b>Existing:</b>
  <%=h @client.existing %>
</p>

<p>
  <b>Gen engg:</b>
  <%=h @client.gen_engg %>
</p>

<p>
  <b>Boiler air heat:</b>
  <%=h @client.boiler_air_heat %>
</p>

<p>
  <b>Furniture:</b>
  <%=h @client.furniture %>
</p>

<p>
  <b>Cut chamf:</b>
  <%=h @client.cut_chamf %>
</p>

<p>
  <b>Press operations:</b>
  <%=h @client.press_operations %>
</p>

<p>
  <b>Machining:</b>
  <%=h @client.machining %>
</p>

<p>
  <b>Plating:</b>
  <%=h @client.plating %>
</p>

<p>
  <b>Meters:</b>
  <%=h @client.meters %>
</p>

<p>
  <b>Tons:</b>
  <%=h @client.tons %>
</p>

<p>
  <b>Od tol:</b>
  <%=h @client.od_tol %>
</p>

<p>
  <b>Id tol:</b>
  <%=h @client.id_tol %>
</p>

<p>
  <b>Thick tol:</b>
  <%=h @client.thick_tol %>
</p>

<p>
  <b>Length tol:</b>
  <%=h @client.length_tol %>
</p>

<p>
  <b>Id fin cut:</b>
  <%=h @client.id_fin_cut %>
</p>

<p>
  <b>Id fin height:</b>
  <%=h @client.id_fin_height %>
</p>

<p>
  <b>Id surface:</b>
  <%=h @client.id_surface %>
</p>

<p>
  <b>Straightness:</b>
  <%=h @client.straightness %>
</p>

<p>
  <b>Od surface finish:</b>
  <%=h @client.od_surface_finish %>
</p>

<p>
  <b>Ect:</b>
  <%=h @client.ect %>
</p>

<p>
  <b>Pressure testing:</b>
  <%=h @client.pressure_testing %>
</p>

<p>
  <b>Corner radius:</b>
  <%=h @client.corner_radius %>
</p>

<p>
  <b>Uts:</b>
  <%=h @client.uts %>
</p>

<p>
  <b>Ys:</b>
  <%=h @client.ys %>
</p>

<p>
  <b>Elongation:</b>
  <%=h @client.elongation %>
</p>

<p>
  <b>Special characteristics:</b>
  <%=h @client.special_characteristics %>
</p>

<p>
  <b>Spc requirement:</b>
  <%=h @client.spc_requirement %>
</p>

<p>
  <b>Remarks:</b>
  <%=h @client.remarks %>
</p>

<p>
  <b>Name:</b>
  <%=h @client.name %>
</p>

<p>
  <b>Designation:</b>
  <%=h @client.designation %>
</p>

<p>
  <b>Enclosures:</b>
  <%=h @client.enclosures %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
