
<%unless @coil.blank?%>             
             <table class="formOrdertable">
               <tr>
                 <td>S.No</td>
                 <td>Slit Width</td>
                 <td>Slit wt</td>
                 <td>No. of Slits</td>          
                 <td>Wt.</td>
                 <td>Remarks</td>               
               </tr>
               <%for slit in 1..10%>
               <tr>
                 <td><%=slit%></td>
                 <td><%= text_field_tag "#{slit}[slitting][slit_width]" %></td>
                 <td><%= text_field_tag "#{slit}[slitting][slit_weight]" %></td>            
                 <td><%= text_field_tag "#{slit}[slitting][no_of_slits]" %></td>
                 <td><%= text_field_tag "#{slit}[slitting][weight]" %></td>           
                 <td><%= text_field_tag "#{slit}[slitting][remarks]" %></td>               
               </tr>
               <%end%>
             </table>   
<%else%>
No Coils, Please Select coil.
<%end%>
