<%= render :partial=>'layouts/process_leftside_bar' %>
<div id="center-column">
<div class="gridDiv">
  <div class="titleHead">New Slitting Plan</div>
  <div class="formOrder">
    <% form_for(@slitting) do |f| %>
      <%= f.error_messages %>
      <div>
        <!--BOX 1-->
            <table>
              <tr>
                <td><label>Coil No:</label></td>
                <td><%=f.collection_select(:rawmaterial_id, @coils,:id,:name,{:include_blank => "---Select---"},{:onchange => "coildetail(this.value);"})%></td>
                <td><label>Coil width:</label></td>
                <td><%=text_field_tag "coil_width" %></td>
                <td><label>Coil wt:</label></td>
                <td><%=text_field_tag "coil_wt" %></td>                     
              </tr>
              <tr>
                <td><label>Coil Thick.:</label></td>
                <td><%=text_field_tag "coil_thick" %></td>                        
                <td><label>Side Trim:</label></td>
                <td><%=f.text_field "side_trim" %></td>                
                <td><label>Scrap:</label></td>
                <td><%=f.text_field "scrap" %></td>
           
              </tr>            
            </table>      
        <br class="clear"/>        
        <div id="detail"></div>


        <br class="clear"/>
  <div class="txtC" id="submit_div">

  <%= f.submit "Create" , :class=>'button submit_buttons'%>
    <%=f.submit 'Cancel',{ :class=>'button submit_buttons cancelbutton' }%>
 
      </div>
       <br class="clear"/>
      </div>
    <% end %>
  </div>
</div>
</div>