<div class="fl w48" style="width:35%">
  <div>
    <%if @user.new_record?%>
      <p>
        <label> Employee </label></p><p>
        <%= collection_select(:employee, :id, @employees, :id, :full_name, {:include_blank => 'Please select'})%>
      </p>
    <%end%><p>
      <%= form.label :email %></p><p>
      <%= form.text_field :email %></p>
  </div>
</div>
<div class="fl w48" style="width:35%">
  <div><p>
      <label> Role </label></p><p>
      <%if @user.new_record?%>
        <%= collection_select(:role, :id, @roles, :id, :name, {:include_blank => 'Please select'})%>
      <%else%>
        <%= collection_select(:role, :id, @roles, :id, :name, {:include_blank => 'Please select',:selected => @user.role.id})%>
      <%end%>
    </p>
    <%if @user.new_record?%><p>
        <%= form.label :login %></p><p>
        <%= form.text_field :login %></p>
  </div></div><div class="fl w48" style="width:25%">
  <div>
    <p>
        <%= form.label :password, form.object.new_record? ? nil : "Change password" %></p><p>
        <%= form.password_field :password %></p><p>
        <%= form.label :password_confirmation %></p><p>
        <%= form.password_field :password_confirmation %></p>
    <%end%>
  </div>
  </div>