<table cellpadding="0" cellspacing="0" width="100%">
  <tr><td>
    <%if @user.new_record?%>
      <p>
        <label> Employee </label>
        <%= collection_select(:employee, :id, @employees, :id, :full_name, {:include_blank => 'Please select'})%>
    </p></td><td>
    <%end%><p>
      <label> Role </label>
      <%if @user.new_record?%>
        <%= collection_select(:role, :id, @roles, :id, :name, {:include_blank => 'Please select'})%>
      <%else%>
        <%= collection_select(:role, :id, @roles, :id, :name, {:include_blank => 'Please select',:selected => @user.role.id})%>
      <%end%>
</p></td><td><p>
      <%= form.label :email %>
      <%= form.text_field :email %></p>
</td><tr><td>
    <%if @user.new_record?%><p>
        <%= form.label :login %>
        <%= form.text_field :login , :autocomplete => 'off'%></p></td><td>
    <p>
        <%= form.label :password, form.object.new_record? ? nil : "Change password" %>
        <%= form.password_field :password , :autocomplete => 'off' %></p></td><td><p>
        <%= form.label :password_confirmation %>
<%= form.password_field :password_confirmation , :autocomplete => 'off' %></p></td>
    <%end%>
</tr>
</table>
