<%= render :partial=>'layouts/centric_left_bar' %>
<div id="center-column">
<h1>Edit My Account</h1>
 
<% form_for @user, :url => {:action => 'update', :id => @user.id} do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Update" %>
<% end %>
 
<br /><%= link_to "My Profile", users_path %>
</div>