<%= render :partial=>'layouts/centric_left_bar' %>
<div id="center-column">
<div class="top-bar">
  <%= link_to 'New', new_user_path,:class=>"button" %>
    <h1>Listing Users</h1>
</div><br />
<div class="table">
  <%= image_tag '/images/bg-th-left.gif',:height=>"7", :width=>"8",:alt=>"",:title=>"",:class=>"left" %>
  <%= image_tag '/images/bg-th-right.gif',:height=>"7", :width=>"7",:alt=>"",:title=>"",:class=>"right" %>

    <table class="listing" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Login</th>
    <th>Email</th>
    <th>Department Name</th>
    <th>Role</th>
    <th>Action</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.employee.first_name rescue "-"%></td>
    <td><%=h user.employee.last_name rescue "-"%></td>
    <td><%=h user.login rescue "-"%></td>
    <td><%=h user.email rescue "-"%></td>
    <td><%=h user.employee.department.name rescue "-"%></td>
    <td><%=h user.role.name rescue "-"%></td>
    <td>
        <%unless user.role?(:admin)%>       
          <%=link_to("Reset Password", reset_password_user_path(:id=>user.id), :rel=>:facebox)%>
          <%=  link_to(image_tag('/images/livia_portal/icon_edit.gif',{:alt =>"Edit", :title=>"Edit", :border => 0, :hspace => "0"}),  edit_user_path(user))%>
          <%=  link_to(image_tag('/images/livia_portal/icon_reject_1.gif',{:alt =>"DeActivate", :title=>"DeActivate", :confirm => 'Are you sure?',:border => 0, :hspace => "2"}), user, :confirm => 'Are you sure?', :method => :delete) %>
        <%end%>
    </td>
  </tr>
<% end %>
</table>

<br />

</div>
</div>