<%= render :partial=>'layouts/centric_left_bar' %>
<div id="center-column">
  <div class="gridDiv" id="pass_Err">
    <div class="titleHead">
      <div class="fl">Reset Password (<%=@user.login%>)</div>
      <br class="clear"/>
    </div>
    <div class="formMain">
      <%form_tag 'update_password',:method =>:post ,:id => @user.id do%>
        <table border="0" width="350px" cellpadding="5" cellspacing="5">          
          <tr>
            <td><label style="font-size:11px;">New password:</label></td><td><%= password_field_tag  :password ,nil, :autocomplete => 'off'%></td>
          </tr>
          <tr>
            <td><label style="font-size:11px;">Confirm new password:</label></td>
            <td><%= password_field_tag  :password_confirmation ,nil, :autocomplete => 'off'%></td>
          </tr>
        </table>            
        <div class="txtC" id="submit_div">
          <%=submit_tag "Reset" , :class=>'button submit_buttons'%>
          <%=link_to 'Cancel', users_url, :class => "linkbutton" %>
        </div>
      
      <%end%>
    </div>
  </div>
</div>
