<%= render :partial=>'layouts/delivery' %>
<div id="center-column">
<div class="top-bar">
  <%= link_to 'New', new_taxinvoice_path,:class=>"button" %>
  <h1>Listing taxinvoices</h1>
</div><br />
<div class="table">
  <%= image_tag '/images/bg-th-left.gif',:height=>"7", :width=>"8",:alt=>"",:title=>"",:class=>"left" %>
  <%= image_tag '/images/bg-th-right.gif',:height=>"7", :width=>"7",:alt=>"",:title=>"",:class=>"right" %>
  <table class="listing" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <th>Customer name</th>
    <th>Od</th>
    <th>Thickness</th>
    <th>Length</th>
    <th>Description</th>
    <th>Average content packets</th>
    <th>Pieces</th>
    <th>Meters</th>
   <!-- <th>Rs mtrs</th>
    <th>Total tariff value</th>
    <th>Rate of duty</th>
    <th>Total duty</th>
    <th>Amount</th>
    <th>Total all</th>
    <th>Excise duty</th>
    <th>Ed cess</th>
    <th>Sah ed cess</th>
    <th>Vat cst</th>
    <th>Packing forwarding</th>
    <th>Grand total</th>
    <th>Vat tin no</th>
    <th>Cst tin no</th>
    <th>Part vat no</th>
    <th>Party cst no</th>
    <th>Pan entry no</th>
    <th>Date of debit entry no</th>
    <th>Entry of duty entry no</th>
    <th>Date and time of goods</th>
    <th>Range</th>
    <th>Range two</th>
    <th>Ecc no</th>
    <th>Notification no</th>
    <th>Date of preparation invoice</th>
    <th>Timeof invoice</th>
    <th>Po no</th>
    <th>Invoice no</th>
    <th>Challan no</th>
    <th>Vehicle no</th>
    <th>Lr no</th>
    <th>Date po</th>
    <th>Date invoice no</th>
   <th>In words</th>-->
    <th>Date challan no</th>
    <th>Name and adress of buyor</th>
    <th>Name and adress of consignee</th>
    <th>Chapter heading no</th>
    <th>Name of deliver goods</th>
    <th>Pan no</th>
    <th>Commissiona Rate</th>
    
     <th>Action</th>
  </tr>

<% for taxinvoice in @taxinvoices %>
  <tr>
     <td><%=h taxinvoice.customer.name %></td>
    <td><%=h taxinvoice.od %></td>
    <td><%=h taxinvoice.thickness %></td>
    <td><%=h taxinvoice.length %></td>
    <td><%=h taxinvoice.description %></td>
    <td><%=h taxinvoice.average_content_packets %></td>
    <td><%=h taxinvoice.pieces %></td>
    <td><%=h taxinvoice.meters %></td>
    <!--<td><%=h taxinvoice.rs_mtrs %></td>
    <td><%=h taxinvoice.rs_mtrs %></td>
    <td><%=h taxinvoice.total_tariff_value %></td>
    <td><%=h taxinvoice.rate_of_duty %></td>
    <td><%=h taxinvoice.total_duty %></td>
    <td><%=h taxinvoice.amount %></td>
    <td><%=h taxinvoice.total_all %></td>
    <td><%=h taxinvoice.excise_duty %></td>
    <td><%=h taxinvoice.ed_cess %></td>
    <td><%=h taxinvoice.sah_ed_cess %></td>
    <td><%=h taxinvoice.vat_cst %></td>
    <td><%=h taxinvoice.packing_forwarding %></td>
    <td><%=h taxinvoice.grand_total %></td>
    <td><%=h taxinvoice.vat_tin_no %></td>
    <td><%=h taxinvoice.cst_tin_no %></td>
    <td><%=h taxinvoice.part_vat_no %></td>
    <td><%=h taxinvoice.party_cst_no %></td>
    <td><%=h taxinvoice.pan_entry_no %></td>
    <td><%=h taxinvoice.date_of_debit_entry_no %></td>
    <td><%=h taxinvoice.entry_of_duty_entry_no %></td>
    <td><%=h taxinvoice.date_and_time_of_goods %></td>
    <td><%=h taxinvoice.range %></td>
    <td><%=h taxinvoice.range_two %></td>
    <td><%=h taxinvoice.ecc_no %></td>
    <td><%=h taxinvoice.notification_no %></td>
    <td><%=h taxinvoice.date_of_preparation_invoice %></td>
    <td><%=h taxinvoice.timeof_invoice %></td>
    <td><%=h taxinvoice.po_no %></td>
    <td><%=h taxinvoice.invoice_no %></td>
    <td><%=h taxinvoice.challan_no %></td>
    <td><%=h taxinvoice.vehicle_no %></td>
    <td><%=h taxinvoice.lr_no %></td>
    <td><%=h taxinvoice.date_po %></td>
    <td><%=h taxinvoice.date_invoice_no %></td>
    <td><%=h taxinvoice.in_words %></td>-->
    <td><%=h taxinvoice.date_challan_no %></td>
    <td><%=h taxinvoice.name_and_adress_of_buyor %></td>
    <td><%=h taxinvoice.name_and_adress_of_consignee %></td>
    <td><%=h taxinvoice.chapter_heading_no %></td>
    <td><%=h taxinvoice.name_of_deliver_goods %></td>
    <td><%=h taxinvoice.pan_no %></td>
    <td><%=h taxinvoice.commissionarate %></td>
    
    <td>
     <div class="fr" style="float:left;">
          <%=  link_to(image_tag('/images/livia_portal/icon_edit.gif',{:alt =>"Edit", :title=>"Edit", :border => 0, :hspace => "0"}),  edit_taxinvoice_path(taxinvoice)  )%>
          <%=  link_to(image_tag('/images/livia_portal/icon_reject_1.gif',{:alt =>"DeActivate", :title=>"DeActivate", :confirm => 'Are you sure?',:border => 0, :hspace => "2"}),taxinvoice, :confirm => 'Are you sure?', :method => :delete ) %>
        </div>
</td>
  </tr>
<% end %>
</table>
  </div>
<br/>
</div>


