<%= render :partial=>'layouts/delivery' %>
<div id="center-column">
  <div class="top-bar">
    <%= link_to 'New', new_taxinvoice_path,:class=>"button" %>
    <h1>Listing taxinvoices</h1>
  </div><br />
  <div class="table">
    <%= image_tag '/images/bg-th-left.gif',:height=>"7", :width=>"8",:alt=>"",:title=>"",:class=>"left" %>
    <%= image_tag '/images/bg-th-right.gif',:height=>"7", :width=>"7",:alt=>"",:title=>"",:class=>"right" %>
    <table class="listing" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <th>Customer name</th>
        <th>Od</th>
        <th>Thickness</th>
        <th>Length</th>
        <th>Pieces</th>
        <th>Meters</th>
        <th>Invoice No</th>
        <th> challan No</th>
        <th>Action</th>
      </tr>

      <% for taxinvoice in @taxinvoices %>
        <tr>
          <td><%=h taxinvoice.customer.name %></td>
          <td><%=h taxinvoice.od %></td>
          <td><%=h taxinvoice.thickness %></td>
          <td><%=h taxinvoice.length %></td>

          <td><%=h taxinvoice.pieces %></td>
          <td><%=h taxinvoice.meters %></td>
          <td><%=h taxinvoice.invoice_no %></td>
          <td><%=h taxinvoice.deliverychallan.delivery_challan_no %></td>
          <td>
            <div class="fr" style="float:left;">
              <%=  link_to(image_tag('/images/livia_portal/icon_edit.gif',{:alt =>"Edit", :title=>"Edit", :border => 0, :hspace => "0"}),  edit_taxinvoice_path(taxinvoice)  )%>
              <%=  link_to(image_tag('/images/livia_portal/icon_reject_1.gif',{:alt =>"DeActivate", :title=>"DeActivate", :confirm => 'Are you sure?',:border => 0, :hspace => "2"}),taxinvoice, :confirm => 'Are you sure?', :method => :delete ) %>
            </div>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <br/>
</div>


