<%= render :partial=>'layouts/delivery' %>
<div id="center-column">
<div class="gridDiv">
  <div class="titleHead">New taxinvoice</div>
  <div class="formMain">

<% form_for(@taxinvoice) do |f| %>
  <%= f.error_messages %>
      <div>
        <!--BOX 1-->
        <div class="mt5">
        </div>
        <div class="fl w48" style="width: 52%;" >
          <div>
            <p>
               <%= f.label "Customer name" %>

  <%=f.collection_select( :customer_id, Customer.all,:id,:name,{:include_blank => "----------Select----------"},{:onchange => "deliverydetail(this.value);"})%>
</p>

   <p>
     <label>Date-prep-invoice </label>
    <%= f.datetime_select :date_of_preparation_invoice %>
  </p>


 <p>
    <label>Date invoice no </label>
    <%= f.datetime_select :date_invoice_no %>
  </p>
    <p style="width:100%">
    <%= f.label :timeof_invoice %>
    <%= f.datetime_select :timeof_invoice %>
  </p>
    <p>
    <%= f.label :date_po %>
    <%= f.datetime_select :date_po %>
  </p>
<p>
    <%= f.label :invoice_no %>
    <%= f.text_field :invoice_no %>
  </p>
<p>
    <%= f.label :po_no %>
    <%= f.text_field :po_no %>
  </p>

    <p>
    <%= f.label :in_words %>
    <%= f.text_field :in_words %>
  </p>
    <p>
     <label>Name/adress-buyer </label>
    <%= f.text_area :name_and_adress_of_buyor,:rows=>5 %>
  </p>
  <p>
     <label>Name/adress-consignee </label>
    <%= f.text_area :name_and_adress_of_consignee ,:rows=>5%>
  </p
  
     <p>
    <%= f.label :lr_no %>
    <%= f.text_field :lr_no %>
  </p>
 <div id="detail"></div>
 <%#= render :partial=>'delivery_details',:locals=>{:f=>f} %>
   </div>
        </div>
        <br class="clear"/>
        <div class="txtC" id="submit_div">
          <%= f.submit "Create" , :class=>'button submit_buttons'%>
                  <%=link_to 'Cancel',taxinvoices_path,{ :class=>'button submit_buttons cancelbutton' }%>

        </div>
        <br class="clear"/>
      </div>
    <% end %>
  </div>
</div>
</div>