<%= render :partial=>'layouts/delivery' %>
<div id="center-column">
<div class="gridDiv">
  <div class="titleHead">New taxinvoice</div>
  <div class="formMain">

<% form_for(@taxinvoice) do |f| %>
  <%= f.error_messages %>
      <div>
        <!--BOX 1-->
        <div class="mt5">
        </div>
        <div class="fl w48" style="width: 52%;" >
          <div>
            <p>
               <%= f.label "Customer name" %>

  <%=f.collection_select( :customer_id, Customer.all,:id,:name,{:include_blank => "----------Select----------"})%>
</p>
  <p>
    <%= f.label :od %>
    <%= f.text_field :od %>
  </p>
  <p>
    <%= f.label :thickness %>
    <%= f.text_field :thickness %>
  </p>
  <p>
    <%= f.label :length %>
    <%= f.text_field :length %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </p>

  <p>
    <%= f.label :pieces %>
    <%= f.text_field :pieces %>
  </p>
  <p>
    <%= f.label :meters %>
    <%= f.text_field :meters %>
  </p>
  <p>
    <%= f.label :rs_mtrs %>
    <%= f.text_field :rs_mtrs %>
  </p>
  <p>
    <%= f.label :rs_mtrs %>
    <%= f.text_field :rs_mtrs %>
  </p>
  <p>
    <%= f.label :total_tariff_value %>
    <%= f.text_field :total_tariff_value %>
  </p>
  <p>
    <%= f.label :rate_of_duty %>
    <%= f.text_field :rate_of_duty %>
  </p>
  <p>
    <%= f.label :total_duty %>
    <%= f.text_field :total_duty %>
  </p>
  <p>
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.label :total_all %>
    <%= f.text_field :total_all %>
  </p>
  <p>
    <%= f.label :excise_duty %>
    <%= f.text_field :excise_duty %>
  </p>
  <p>
    <%= f.label :ed_cess %>
    <%= f.text_field :ed_cess %>
  </p>
  <p>
    <%= f.label :sah_ed_cess %>
    <%= f.text_field :sah_ed_cess %>
  </p>
  <p>
    <%= f.label :vat_cst %>
    <%= f.text_field :vat_cst %>
  </p>
  <p>
    <%= f.label :packing_forwarding %>
    <%= f.text_field :packing_forwarding %>
  </p>
  <p>
    <%= f.label :grand_total %>
    <%= f.text_field :grand_total %>
  </p>
  <p>
    <%= f.label :vat_tin_no %>
    <%= f.text_field :vat_tin_no %>
  </p>
  <p>
    <%= f.label :cst_tin_no %>
    <%= f.text_field :cst_tin_no %>
  </p>
  <p>
    <%= f.label :part_vat_no %>
    <%= f.text_field :part_vat_no %>
  </p>
   <p>
    <%= f.label :party_cst_no %>
    <%= f.text_field :party_cst_no %>
  </p>
   <p>
    <%= f.label :pan_entry_no %>
    <%= f.text_field :pan_entry_no %>
  </p>
  <p>
    <%= f.label :date_of_debit_entry_no %>
    <%= f.text_field :date_of_debit_entry_no %>
  </p>
  <p>
    <%= f.label :entry_of_duty_entry_no %>
    <%= f.text_field :entry_of_duty_entry_no %>
  </p>
  <p>
  <label>Avg/cont-packets </label>
    <%= f.text_field :average_content_packets %>
  </p>
  
   </div>
        </div>
        <div style="" class="fr">
          <div>
            <tr></tr>
             <p style="width:99%">
                <label>Date/time-goods </label>
    
    <%= f.datetime_select :date_and_time_of_goods %>
  </p>
   <p style="width:99%">
     <label>Date-prep-invoice </label>
    <%= f.datetime_select :date_of_preparation_invoice %>
  </p>
 <p style="width:99%">
    <label>Date invoice no </label>
    <%= f.datetime_select :date_invoice_no %>
  </p>
  <p style="width:100%">
    <label>Date challan no </label>
    <%= f.datetime_select :date_challan_no %>
  </p>
  <p style="width:100%">
    <%= f.label :date_po %>
    <%= f.datetime_select :date_po %>
  </p>
   <p style="width:100%">
    <%= f.label :timeof_invoice %>
    <%= f.datetime_select :timeof_invoice %>
  </p>
  <p>
    <%= f.label :range %>
    <%= f.text_field :range %>
  </p>
  <p>
    <%= f.label :range_two %>
    <%= f.text_field :range_two %>
  </p>
  <p>
    <%= f.label :ecc_no %>
    <%= f.text_field :ecc_no %>
  </p>
 
  <p>
    <%= f.label :notification_no %>
    <%= f.text_field :notification_no %>
  </p>
 
 
  <p>
    <%= f.label :po_no %>
    <%= f.text_field :po_no %>
  </p>
  <p>
    <%= f.label :invoice_no %>
    <%= f.text_field :invoice_no %>
  </p>
  <p>
    <%= f.label :challan_no %>
    <%= f.text_field :challan_no %>
  </p>
  <p>
    <%= f.label :vehicle_no %>
    <%= f.text_field :vehicle_no %>
  </p>
  <p>
    <%= f.label :lr_no %>
    <%= f.text_field :lr_no %>
  </p>
  
  
  <p>
     <label>Name/adress-buyer </label>
    <%= f.text_field :name_and_adress_of_buyor %>
  </p>
  <p>
     <label>Name/adress-consignee </label>
    <%= f.text_field :name_and_adress_of_consignee %>
  </p>
  <p>
    <%= f.label :chapter_heading_no %>
    <%= f.text_field :chapter_heading_no %>
  </p>
  <p>
    <%= f.label :name_of_deliver_goods %>
    <%= f.text_field :name_of_deliver_goods %>
  </p>
  <p>
    <%= f.label :pan_no %>
    <%= f.text_field :pan_no %>
  </p>
  <p>
    <%= f.label :commissionarate %>
    <%= f.text_field :commissionarate %>
  </p>
  <p>
    <%= f.label :in_words %>
    <%= f.text_field :in_words %>
  </p>
   </div>
        </div>
        <br class="clear"/>
        <div class="txtC" id="submit_div">
          <%= f.submit "Create" , :class=>'button submit_buttons'%>
                  <%=link_to 'Cancel',taxinvoices_path,{ :class=>'button submit_buttons cancelbutton' }%>

        </div>
        <br class="clear"/>
      </div>
    <% end %>
  </div>
</div>
</div>