<p>
  <b>Od:</b>
  <%=h @taxinvoice.od %>
</p>

<p>
  <b>Thickness:</b>
  <%=h @taxinvoice.thickness %>
</p>

<p>
  <b>Length:</b>
  <%=h @taxinvoice.length %>
</p>

<p>
  <b>Description:</b>
  <%=h @taxinvoice.description %>
</p>

<p>
  <b>Average content packets:</b>
  <%=h @taxinvoice.average_content_packets %>
</p>

<p>
  <b>Pieces:</b>
  <%=h @taxinvoice.pieces %>
</p>

<p>
  <b>Meters:</b>
  <%=h @taxinvoice.meters %>
</p>

<p>
  <b>Rs mtrs:</b>
  <%=h @taxinvoice.rs_mtrs %>
</p>

<p>
  <b>Rs mtrs:</b>
  <%=h @taxinvoice.rs_mtrs %>
</p>

<p>
  <b>Total tariff value:</b>
  <%=h @taxinvoice.total_tariff_value %>
</p>

<p>
  <b>Rate of duty:</b>
  <%=h @taxinvoice.rate_of_duty %>
</p>

<p>
  <b>Total duty:</b>
  <%=h @taxinvoice.total_duty %>
</p>

<p>
  <b>Amount:</b>
  <%=h @taxinvoice.amount %>
</p>

<p>
  <b>Total all:</b>
  <%=h @taxinvoice.total_all %>
</p>

<p>
  <b>Excise duty:</b>
  <%=h @taxinvoice.excise_duty %>
</p>

<p>
  <b>Ed cess:</b>
  <%=h @taxinvoice.ed_cess %>
</p>

<p>
  <b>Sah ed cess:</b>
  <%=h @taxinvoice.sah_ed_cess %>
</p>

<p>
  <b>Vat cst:</b>
  <%=h @taxinvoice.vat_cst %>
</p>

<p>
  <b>Packing forwarding:</b>
  <%=h @taxinvoice.packing_forwarding %>
</p>

<p>
  <b>Grand total:</b>
  <%=h @taxinvoice.grand_total %>
</p>

<p>
  <b>Vat tin no:</b>
  <%=h @taxinvoice.vat_tin_no %>
</p>

<p>
  <b>Cst tin no:</b>
  <%=h @taxinvoice.cst_tin_no %>
</p>

<p>
  <b>Part vat no:</b>
  <%=h @taxinvoice.part_vat_no %>
</p>

<p>
  <b>Party cst no:</b>
  <%=h @taxinvoice.party_cst_no %>
</p>

<p>
  <b>Pan entry no:</b>
  <%=h @taxinvoice.pan_entry_no %>
</p>

<p>
  <b>Date of debit entry no:</b>
  <%=h @taxinvoice.date_of_debit_entry_no %>
</p>

<p>
  <b>Entry of duty entry no:</b>
  <%=h @taxinvoice.entry_of_duty_entry_no %>
</p>

<p>
  <b>Date and time of goods:</b>
  <%=h @taxinvoice.date_and_time_of_goods %>
</p>

<p>
  <b>Range:</b>
  <%=h @taxinvoice.range %>
</p>

<p>
  <b>Range two:</b>
  <%=h @taxinvoice.range_two %>
</p>

<p>
  <b>Ecc no:</b>
  <%=h @taxinvoice.ecc_no %>
</p>

<p>
  <b>Notification no:</b>
  <%=h @taxinvoice.notification_no %>
</p>

<p>
  <b>Date of preparation invoice:</b>
  <%=h @taxinvoice.date_of_preparation_invoice %>
</p>

<p>
  <b>Timeof invoice:</b>
  <%=h @taxinvoice.timeof_invoice %>
</p>

<p>
  <b>Po no:</b>
  <%=h @taxinvoice.po_no %>
</p>

<p>
  <b>Invoice no:</b>
  <%=h @taxinvoice.invoice_no %>
</p>

<p>
  <b>Challan no:</b>
  <%=h @taxinvoice.challan_no %>
</p>

<p>
  <b>Vehicle no:</b>
  <%=h @taxinvoice.vehicle_no %>
</p>

<p>
  <b>Lr no:</b>
  <%=h @taxinvoice.lr_no %>
</p>

<p>
  <b>Date po:</b>
  <%=h @taxinvoice.date_po %>
</p>

<p>
  <b>Date invoice no:</b>
  <%=h @taxinvoice.date_invoice_no %>
</p>

<p>
  <b>Date challan no:</b>
  <%=h @taxinvoice.date_challan_no %>
</p>

<p>
  <b>Name and adress of buyor:</b>
  <%=h @taxinvoice.name_and_adress_of_buyor %>
</p>

<p>
  <b>Name and adress of consignee:</b>
  <%=h @taxinvoice.name_and_adress_of_consignee %>
</p>

<p>
  <b>Chapter heading no:</b>
  <%=h @taxinvoice.chapter_heading_no %>
</p>

<p>
  <b>Name of deliver goods:</b>
  <%=h @taxinvoice.name_of_deliver_goods %>
</p>

<p>
  <b>Pan no:</b>
  <%=h @taxinvoice.pan_no %>
</p>

<p>
  <b>Commissionarate:</b>
  <%=h @taxinvoice.commissionarate %>
</p>

<p>
  <b>In words:</b>
  <%=h @taxinvoice.in_words %>
</p>


<%= link_to 'Edit', edit_taxinvoice_path(@taxinvoice) %> |
<%= link_to 'Back', taxinvoices_path %>
